.arrow_con{
	font-size:12px;
	line-height:44px;
	padding:0px 14px 25px;
	.arrow_d{
		text-indent:1em;
		border-top:1px solid #D5D5D5;
		border-bottom:1px solid #D5D5D5;
		background:url(../images/arrow.png) no-repeat 95%;
		background-size:26px;
	}
		
}