<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="320" name="MobileOptimized" />
    <meta content="telephone=no" name="format-detection" />
    <title>模版编辑器预览v1.0</title>
    <link rel="stylesheet" href="/home/diy/assets/style/style.css">
</head>
<body>

<style>
	html, body {
		width: 100%;
		max-width: 540px;
		padding: 0px;
		margin: 0 auto;
	}
</style>
