@import 'header.less';
@import 'footer.less';
#POP800_INIT_DIV{display: none}
#POP800_PANEL_DIV{display: none}
#POP800_LEAVEWORD_DIV{display: none}
.left{float:left;}
.right{float:right;}
.clear:after{
	content:'';
	display:block;
	clear:both;
}
.clear{
	zoom:1;
}
.flexbox{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; 
    flex-wrap:wrap;
}
.flex{
	flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    -moz-flex: 1;
}
h2,p{
	margin:0;
	padding:0;
}
ul,li{
	list-style-type:none;
}
img{
	width:100%;
	vertical-align:top;
}
body{
	margin:0;
	padding-top:64px;
	padding-bottom:116px;
	color:#222;
	font-size:12px;
	position:relative;
}
#details{
	.header{
		margin: 50px 0 20px;
		h2{
			font-size:20px;
			line-height:28px;
		}
		p{
			color: #666666;
			line-height: 16px;
		}
	}
	>.left{
		width:46%;
		margin-right:8%;
	}
	.item_title{
		background: #F6F6F6;
		height:36px;
		line-height:36px;
		text-indent:16px;
		color:#666;
		margin-bottom:10px;
		font-weight:bold;
	}
	.item{
		line-height:20px;
		font-size:14px;
		margin-bottom:20px;
		color:#666;
	}
	.wrap{
		width:calc(~'50% - 5px');
		display:inline-block;
		&:last-child{
			margin-left:10px;
		}
	}
	.this_box{
		width:46%;
		font-size:14px;
		.item_title{
			padding-right:16px;
			font-size:12px;
		}
		.goodImg{
			width:100px;
			height:100px;
			margin-right:20px;
		}
		#goods{
			.goodInfo .goodName:first-child{
				display:none;
			}
		}
		.goodInfo{
			flex:1;
			.goodStatus{
				text-align:right;
			}
		}
		.row-2{
			margin:20px 0;
		}
		.m-goodItems{
			.row-2{
				padding-left:20px;
				.goodInfo>.goodName{
					>span{
						display:block;
					}
					div{
						float:right;
					}
					.goodName{
						&:last-child{
							display:none;
						}
					}
				}					
			}
			.goodImg{
				width:64px;
				height:64px;
			}
		}
	}	
	.list_cost{
		padding:10px 0;
		border-top:1px solid #eee;
		border-bottom:1px solid #eee;
		.row{
			margin:10px 0;
			.left{
				&:first-child{
					color:#666
				}
			}
		}
		.left{
			width:50%;
			text-align:right;
		}
	}
		
}
#loading{
	text-align:center;
	img{
		width:auto;
	}
}
.fixed_right{
	text-align:right;
	margin-top:20px;
	a{
		display:inline-block;
		text-decoration:none;
		color:#fff;
		font-size:16px;
		padding:11px 56px 11px 16px;
		border:none;
		border-radius:2px;
		background:#E01F3D url(../images/services.png) no-repeat right 16px center;
		background-size:20px;
	}
}

//查询
::-webkit-input-placeholder{
	font-weight:bold;
	color:#aaa;
}
:-moz-placeholder {
	font-weight:bold;
	color:#aaa;
}
:-ms-input-placeholder {
	font-weight:bold;
	color:#aaa;
}
.content,#details{
	max-width:1280px;
	margin:0 auto;
}
.content .header{
	margin:50px 0 10px;
	line-height:18px;
	h2{
		font-size:20px;
		line-height:28px;
	}
}
.from{}
.inquiry_mob{border:none;width:46%;height:56px;line-height:56px;text-indent:16px;color:#222;font-size:14px;border-radius:2px;background:#f6f6f6;display:block;margin-bottom:10px;}
#go{width:46%;height: 44px;background-color: #d9172e;border: 0;border-radius: 2px;color:#fff;}
#inquiry_list{margin:16px 0;font-size:0;}
#inquiry_list .item{font-size:12px;width:calc(~'46% - 32px');display:inline-block;background-color: #f6f6f6;margin-bottom: 15px;padding: 10px 16px;}
.item .deviate1{color: #A9A9A9;}
.item .deviate2{color: #2FC423;text-align: right;}
.data_null{padding: 16px;font-size: 12px;background-color: #f6f6f6;color: #666; font-size: 12px;width:calc(~'46% - 32px')}
.pro_thumb{width: 51px;}
.pro_thumb img{display: block; width: 51px;height: 51px;}
.pro_title{font-size: 12px;color: #212121;text-align: left;margin-left: 15px;position: relative;}
.pro_title h3{margin: 0;}
.pro_title .number{position: absolute;right: 10px;bottom: 0;font-size: 12px;}
.btn_div .order_details{border:1px solid #eee;background-color: #fff;font-size: 12px;border-radius: 4px; color: #212121;text-align: center;padding: 5px 10px;}
.pro_item{font-size: 12px;}
.pro_item .text_left{text-align: left;padding-top: 5px;}
.buy_tips{margin: 0 15px 20px;padding: 15px;border:1px solid #eee;font-size: 12px;color: #212121;}
.buy_tips a{color: #FF5A5F;}
.nextpage{border: 1px solid #eee;color: #666;font-size: 16px;line-height: 42px;text-align: center;border-radius: 4px;margin: 16px;}
.timetips{font-size: 12px;color: #aaa;position: relative;bottom: 0;width: 100%;max-width: 640px;}
.timetips ul{width: 100%; display:table;border-top: 1px solid #EEE;}
.timetips li{display: table-cell; text-align: center;width: 50%;line-height: 1; overflow: hidden;padding: 10px 16px;}
.timetips li img{width: 15px;vertical-align: middle;margin-right: 4px;}
.timetips_ab{position: absolute;}
@media (max-height:479px){
	.timetips_ab{position: relative;}
}
#loading{position: absolute;top: 50%;left: 48%;display:none;z-index: 99;animation:lrotate 1s;animation-timing-function:linear;animation-iteration-count:infinite;animation-play-state:running;}
@media screen and (min-width:1000px) and (max-width:1440px) {
	body{
		padding-left:80px;
		padding-right:80px;
	}
}