@import './config';

.User_notes {
    padding: 15px 15px 0 15px;
    background: #fff;
    font-size: 14px;
    color: #333;
    text-align: left;
    .notes {
        text-align: center;
        font-weight: 500;
    }
    .note_title {
        margin: 6px 0;
    }
    .note_text {
        font-size: 14px;
        color: #333;
        text-align: left;
        line-height: 23px;
        text-indent: 16px;
    }
    .mailto {
        text-decoration: none;
        color: @subColor;
    }
}