.inqcom {
	display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
	.inquiry, .com_pinlun{
		width: 100%;
		a{
			display: block;
			width: 90%;
			border:1px solid #e5e5e5;
			color: #666666;
			font-size: 14px;
			text-align: center;
			margin: auto;
			line-height: 30px;
			border-radius:4px;
		}
	}
	&:after{
		content: " ";
		display: inline-block;
		clear: both;
	}
}