<div class="specSelect">
    <div class="m-listItem" id="val-sel" data-cuckootag="buy_now">
        <div class="f-vc">
            <div class="inner"><span class="it" style="font-weight:normal;">{{ lang.choose_attr }}</span></div>
        </div>
        <i class="icon u-icon u-address-right"></i>
    </div>
</div>