{% extends 'base.twig' %}

{% block content %}
{% include '/public/theme/google_remarketing_cat.twig' %}
{% include 'navigation.twig' %}
<input type="hidden" value="{{category_id}}" id="cat_id">
<!--内容产品-->
    <div id="content" style="display: none;margin-top: 10px;">
        <div class="row wcolor">
            
        </div>
    </div>
    <div id="module_dome" style="display: none;">
        <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6 items">
            <a href="{url}">
                <div class="thumbnail">
                    <div class="tagWraper">
                        <div class="imgthumb lazyload empty">
                            <img src="{thumb}" alt="{title}">
                        </div>
                    </div>
                    <div class="caption">
                        <h4 class="title">{title}</h4>
                        <p>{shop_price}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div id="emptydiv" style="display: none;">
        <div class="emptydiv"><div class="emptyicon list-care"></div><p class="p1">{{lang.empty_category}}</p></div>
    </div>
<script src="{{ THEME }}/script/cat.js"></script>

{{ footer|raw }}
{% endblock %}
{% block footer_js %}
{% endblock %}

