<div class="panel-user"></div>
<div class="panel panel-left panel-reveal" id="panelview">
    <div class="slidebar">
        <ul class="clearfix">
            <li><a href="/" class="check">{{lang.home}}</a></li>
            {% for c in category_title %}
                <li><a href="./?category_id={{ c.id }}&show=1">{{ c.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
