<header class="">
	<nav class="navbar" id="header">
	    <span class="glyphicon glyphicon-menu"><a class="classify" href="javascript:void(0)" id="menu">{{lang.classify}}<i class="material-icons">keyboard_arrow_down</i></a></span>
	    <h1 class="h_logo"><a href="/"><img src="{{ info.logo }}"></a></h1>
	    <span class="glyphicon searchs" style="right: 13px;"><a class="classify" href="javascript:void(0)"><i class="material-icons fexlsearch">search</i></a></span>
	</nav>
	<nav class="navbar navbar-default" id="search_nav" style="display: none;">
	  <div class="container-fluid">
	      <form role="search" id="search" action="">
	            <div class="form-group">
	                <input type="text" class="form-control" placeholder="{{lang.click_to_search}}" name="keyword" value="">
	                <i class="material-icons search">search</i>
	                <i class="material-icons textclose"></i>
	            </div>
	      </form>
	  </div>
	</nav>
</header>