#page-order{
	background:#fff;
	position:absolute;
	width: 100%;
    max-width: 640px;
    display: none;
    z-index:11;
}
#comb{
	margin:10px 0;
}
.left.f-fl{
    img{
    	width:100px;
    }
    position:absolute;
    top:50%;
    margin-top:-50px;
}
.right.f-fl{
	margin-left:116px;
	.con{
	    font-size: 12px;
	    line-height: 22px;
	}
}
.info-con{
	position:relative;
	min-height:120px;
}


#attrimg {
    width: 20%;
    max-width: 150px;
    min-width: 100px;
}
.info-con{
	background:#fff;
	position:relative;
	min-height:120px;
	border-bottom:1px dashed #aaa;
}
label.tab{
	text-align:center;
	display:block;
	font-size: 14px;
    line-height: 38px;
    margin: 10px 6px 0 0;
    padding:0 4%;
    border: 1px solid #e1e1e1;
}
label.tab.tab-sel{
	border:1px solid #27c4e7;
}
.tc{
	background:#fff;
	padding:2%;
}
.u-format{
	.tt{
		margin-top:10px;
	}
	.con{
		font-size:0;
		background:#fff;
		.tab{
			display:inline-block;
			font-size:13px;
			padding:10px 4px;
			min-width:60px;
			margin:10px 6px 0 0 ;
			text-align: center;
			border: 1px solid #e1e1e1;
			&:last-child{
				margin-right:0;
			}
		}
		.tab.tab-sel{
		    border: 1px solid #27c4e7;
		}
	}
}
.less,.more{
	width:32px;
	height:32px;
	color:#222;
	border:1px solid #eee;
	line-height:32px;
	text-align:center;
	font-size:28px;
	font-family:monospace;
	vertical-align:middle;
	display:inline-block;
}
.textWrap{
	font-size:12px;
	padding:0 16px;
	line-height:32px;
	vertical-align:middle;
	display:inline-block;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}
.u-fornum{
	padding:2%;
	background:#fff;
}
.m-selnum{
	font-size:0;
	display:inline-block;
}