@import 'guide.less';
#POP800_INIT_DIV,#POP800_PANEL_DIV{
	display:none;
}
html{
	background:#f1f1f1;
	font-size:16px;
}
body{
	width:100%;
	max-width:640px;
	margin:0 auto;
	background:#fff;
	padding-bottom:60px;
}
img{
	vertical-align:top;
	width:100%;
}
h5{
	margin:0;padding:0;
}
button{
	background:none;
	border:none;
	outline:none;
}
.img-wrap{
	padding-bottom:22px;
}
.swiper-pagination{
	bottom:auto !important;
	font-size:14px;
	margin-top:6px;
}
.swiper-button-black{
	background-size:14px !important;
}
.title{
	font-size:18px;
	line-height:30px;
}
.detail{
	padding:20px 4% 0;
	.price{
		font-size:24px;
    	padding: 12px 0 10px;
	    font-weight: bold;
	    border-bottom:1px solid #c1c1c1;
	    del{
	    	font-size:14px;
	    	font-weight:normal;
	    	color:#c2c2c2;
	    }
	}
	.promise{
		padding:13px 20px 0;
		li{
			padding-top:7px;
			list-style:disc;
		}
	}
}
.product_info{
	padding-top:20px;
	video{
		width:100%;
		height:auto;
	}
	>.title{
	    font-size: 1.2em;
	    padding: 18px 0 10px;
	    position:relative;
	    border-bottom: 1px solid #c8c8c8;
	    &:after{
	    	content:'';
	    	display:inline-block;
	    	width:10px;
	    	height:10px;
	    	border-right:2px solid #2a2a2a;
	    	border-bottom:2px solid #2a2a2a;
	    	-webkit-transform:rotate(-45deg);
	    	transform:rotate(-45deg);
    	    position: absolute;
		    right: 14px;
		    top: 28px;
	    }
	}
	.title.show{
		&:after{
			-webkit-transform:rotate(45deg);
	    	transform:rotate(45deg);
		}
	}
	.m-img,.pinlun_content{
		display:none;
	}
	.hidden{
		display:none;
	}
	.comment_button{
		display: block;
	    border-radius: 5px;
	    font-size: 1.2em;
	    background-color: #f5f3f4;
	    border: thin solid #f2f2f2;
	    color: #777674;
	    width:60%;
	    padding: 15px 0;
	    margin:0 auto;
	}
	.lab{
		margin:18px 0;
        padding:10px 8px 15px;
	}
	.stars{
		font-size:0;
		span{
			display:inline-block;
			width:16px;
			height:16px;
			background:url(../images/star.png) no-repeat;
			background-size:100%;
			margin-right:2px;
		}
	}
}
.top{
    position:fixed;
    bottom:64px;
    display:none;
    width:100%;
    max-width:640px;
    z-index:100;
	a{
		right:4%;
		background:url(../images/top.png) no-repeat;
		width:42px;
	    padding-top:42px;
	    background-size: 100%;
	    position:absolute;
	    bottom:0;
	}
}
footer{
	display:-webkit-flex;
	display:flex;
	position:fixed;
	bottom:0;
	width:100%;
	max-width:640px;
    box-shadow: 0 0 15px rgba(0,0,0,.4);
	div{
		text-align:center;
		line-height:46px;
		background:#fff;
		flex:2;
	}
	.kefu{
		width:90px;
		background:#fff url(../images/kefu.png) no-repeat center;
	}
	.order_inquiry{
		width:90px;
		background:#fff url(../images/search.png) no-repeat center;
		background-size:22px;
	}
	.buy_now{
		flex:5;
	    background-color: #27c4e7;
	    margin: 0;
	    text-decoration: none;
	    text-transform: uppercase;
	    button{
	    	color: #fff;
	    	font-size:1.2em;
	    	height:44px;
	    }
	}
}
#add_comment{
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.5);
    max-width:640px;
    z-index:100;
    display:none;
    .wrap{
    	background:#fff;
	    position: absolute;
	    top: 100px;
	    width: 84%;
	    margin-left: 4%;
	    padding:4%;
	    font-size:13px;
	    border-radius:5px;
	    .title{
	    	line-height: 42px;
		    text-align: center;
		    font-size: 15px;
	    }
	    .item{
	    	display:-webkit-flex;
	    	display:flex;
	    	margin:10px 0;
	    	height:26px;
	    	line-height:26px;
		    .item_tt{
		    	width:80px;
		    	text-align:right;
		    	margin-right:6px;
		    }
		    span.right{
		    	span{
		    		width:20px;
		    		height:20px;
		    		display:inline-block;
		    		background:url(../images/star2.png) no-repeat;
		    		background-size:20px;
		    		margin-top:3px;
		    	}
		    	span.star{
		    		background:url(../images/star1.png) no-repeat;
		    		background-size:20px;
		    	}
		    }
	    }
	    .right{
	    	flex:1;
	    }
	    input.right {
		    border: 1px solid #cfcfcf;
		}
		input[type='file']{
			border:none;
			width:75%;
		}
		.submit{
			text-align:center;
		}
		.close{
			width:22px;
			height:22px;
			position:absolute;
			top:-8px;
			right:-6px;
			background:url(../images/close.png) no-repeat;
			background-size:22px;
		}
    }
}


.after_sale{
    padding:20px 15px;
    font-size:12px;
    font-family: Thonburi;
    padding-bottom:50px;
    max-width: 540px;
    margin:0 auto;
    width:calc(~'100% - 30px');
   
}
.after_sale_title{
    margin-bottom:20px;
    font-size:14px;
    color:#444A59 ;
    border-bottom:1px solid #C4C4C4;
    line-height: 40px;
    text-align: center;

}
.after_sale .after_sale_first{
    color:#666;
    margin-top:25px;
}
.after_sale_content div{
    line-height: 17px;
    color:#999;
    margin-bottom:10px;
}
.after_sale_circle{
    border:1px solid #999;
    background:#999;
    display: inline-block;
    width:5px;
    height:5px;
    border-radius: 50%;
    margin-right:10px;
}
.after_sale_circle_right{
    display: inline-block;
    vertical-align: top;
    width: calc(~'100% - 21px');
}