html,body{
    font-family: "微软雅黑";
    width: 100%;
    max-width: 540px;
    height: 100%;
    margin: auto;
    -webkit-tap-highlight-color:transparent;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	margin: 0;
}
input[type="number"] {
	-moz-appearance:textfield;
}
#POP800_PANEL_DIV{
    display: none !important;
}
.flex{
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    justify-content: space-between;
    .item{
        flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        -moz-flex: 1;
    }
}
#banner{
    width: 100%;
    overflow: hidden;
    position: relative;
     #list{
         li{
            img{
                display: block;
                width:100%;
            }
         }
    }
     #bar_icon{
        width: 60px;
        height: 13px;
        position: absolute;
        bottom: 20px;;
        right: 0;
        z-index: 2;
        border-radius: 10px;
        span{
            float: left;
            width:8px;
            height: 8px;
            cursor: pointer;
            background: #fff;
            margin-left: 10.3%;
            border-radius: 50%;
            margin-top: 3%;
        }
        .on{
            background-color: #EB6487;
        }
    }
 }
 .main{
     background: url(../images/back1.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: 100% 100%;
 }
 .purchase-tip{
     padding-top: 15px;
     padding-left: 4%;
     padding-right: 4%;
     position: relative;
     .title{
         font-size: 16px;
         color: #222222;
         line-height: 16px;
     }
    .tip-price{
        margin-top:20px;
        font-weight:600;
        span{
            color: #D32301;
            font-size: 21px;
        }
        del{
            color: #f7b4c5;
            font-size: 12px;
        }
    }
    .time{
        font-size: 12px;
        color: #222222;
        margin-top:25px;
        .timelimit{
            display: inline-block;
            width: 59px;
            height: 24px;
            text-align: center;
            line-height: 24px;
            background: url(../images/china_11.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            font-size: 12px;
            color: #E62129;
            margin-right: 15px;
        }
    }
    .shop-label{
        background: url('../images/china2_07.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        padding: 23px 45px;
        margin-top:25px;
        .item{
            text-align: center;
            font-size: 13px;
            color: #D53155;
        }
    }
    .sintip{
        background: url('../images/china_06.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        position: absolute;
        width: 13px;
        line-height: 1;
        color: #fff;
        font-size: 13px;
        padding: 10px 18px 18px 18px;
        -webkit-writing-mode:vertical-lr;
        writing-mode:tb-rl;
        writing-mode:vertical-lr;
    }
    .one{
        right: 50px;
        top: 35px;
    }
    .two{
        right: 10px;
        top: 83px;
    }
 }
 .navigation{
     padding-left: 4%;
     padding-right: 4%;
     margin-top:55px;
     padding-bottom:25px;
     .item{
         text-align: center;
         a{
             padding-top: 41px;
             padding-left: 10px;
             padding-right: 10px;
             padding-bottom: 10px;
             font-size: 14px;
             color: #EB6487;
             cursor: pointer;
         }
     }
     .item.action{
         a{
            background: url('../images/china3_11.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
         }
     }
 }
 .bd{
     padding-left: 4%;
     padding-right: 4%;
     padding-bottom: 57px;
     background-color: #fef5f6;
    .detail{
        img{
            display: block;
            width: 100%;
            max-width: 100% !important;
            height: auto !important;
        }
        video{
            width: 100%;
        }
    }
    .comment{
        background-color: #fff;
        padding:10px;
        .stars{
            display: inline-block;
            line-height: 1;
        }
    }
}
#attr{
    width: 100%;
    min-height: 100%;
    background-color: #fef5f6;
    padding-bottom: 20px;
    .header{
        color: #282828;
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        margin-bottom: 10px;
        .back{
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            display: block;
            float: left;
            margin-left: 4px;
            img{
                margin-top: 4px;
            }
        }
        div{
            text-align: center;
        }
    }
    .header::after{
        content: " ";
        display: inline-block;
        clear: both;
    }
    .product{
        font-size: 13px;
        color: #222;
        padding-left: 4%;
        padding-right: 4%;
        line-height: 32px;
        .comob{
            margin-bottom: 10px;
            line-height: 1;
            cursor: pointer;
            i{
                width: 15px;
                height: 15px;
                display: inline-block;
                margin-right: 10px;
                vertical-align: middle;
            }
        }
        .action{
            i{
                background: url('../images/check.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100% 100%;
            }
        }
    }
    .proattr{
        background: url('../images/attrback.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        padding: 6% 4%;
        overflow: hidden;
        .goods{
            margin-top: 10px;
            h3{
                margin: 0;
                padding: 0;
                font-size: 12px;
            }
            .size{
                font-size: 13px;
                color: #222;
                margin-top: 10px;
                label{
                    display: block;
                    margin-bottom: 10px;
                }
                ul{
                    overflow: hidden;
                    li{
                        float: left;
                        margin-right: 13px;
                        line-height: 1;
                        padding: 10px 12px;
                        cursor: pointer;
                    }
                    li.key{
                        background: url('../images/attr.png');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 100% 100%;
                    }
                }
                ul:after{
                    content: " ";
                    display: inline-block;
                    clear: both;
                }
            }
        }
    }
}
.qty{
    padding-left: 4%;
    padding-right: 4%;
    label{
        display: inline-block;
        margin-right: 10px;
    }
    .qtybtn{
        display: inline-block;
        border: 1px solid rgba(187, 187, 187, 0.73);
        .less,.more,.input{
            width: 45px;
            height: 30px;
            line-height: 30px;
            display: inline-block;
            text-align: center;
        }
        .input{
            input{
                width: 45px;
                height: 28px;
                border: none;
                background: transparent;
                text-align: center;
                border-left: 1px solid rgba(187, 187, 187, 0.73);
                border-right: 1px solid rgba(187, 187, 187, 0.73);
            }
        }
    }
}
.btnconfirm{
    color: #fff;
    background: url('../images/china_33.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 152px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    margin-top: 35px;
}
#h,#m,#s{
    background: #ef93ac;
    color: #fff;
    font-size: 12px;
    padding: 1px 2px;
    border-radius: 2px;
}
.fooder{
    position: fixed;
    bottom: 12px;
    width: 100%;
    max-width: 540px;
    background: url('../images/backfd.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    .fd-tatle{
        display: table;
        width: 100%;
        height: 44px;
        line-height: 44px;
        text-align: center;
        .cell{
            display: table-cell;
            .cus{
                color: #EB6487;
                font-size: 12px;
                padding:10px 10px 8px 30px;
                background: url('../images/china_36.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100% 100%;
            }
            .buy{
                display: inline-block;
                height: 35px;
                line-height: 35px;
                padding: 0 50px;
                font-size: 16px;
                color: #fff;
                background: url('../images/china_33.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100% 100%;
            }
        }
    }
}
/*放大鏡*/
.msKeimgBox {
  margin: 0px auto;
  overflow: hidden;
  position: relative;
  padding-top: 10px;
}
.mskeLayBg {
  background: #000;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  opacity: 0.7;
  filter: alpha(opacity=70);
  display: none;
  _display: none !important;
}
.mskelayBox {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background: #FFF;
  display: none;
  _display: none !important;
}
.mskeImgBg {
  height: 57px;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.mskeClaose {
  position: absolute;
  top: 15px;
  right: 18px;
  cursor: pointer;
}
.mske_downIco {
  position: absolute;
  left: 0px;
  top: 0px;
}
.mske_imgDown {
  background: url(../images/mke_imgMbg.png) repeat;
  height: 57px;
  width: 818px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  font: 13px/57px "微软雅黑";
  color: #FFF;
}
.mske_imgDown a {
  margin-left: 34px;
}
.msKeimgBox ul li {
  float: left;
  height: 93px;
  margin: 0 10px 10px 0;
  width: auto;
  cursor: pointer;
}
.mskeTogBtn {
  background: url(../images/mke_moreImg.jpg) no-repeat;
  height: 93px;
  width: 185px;
  position: absolute;
  z-index: 1;
  right: 0px;
  cursor: pointer;
  bottom: 0px;
}
.mskeTogBtn2 {
  background: url(../images/mke_moreImg2.jpg) no-repeat;
  bottom: 10px;
}
.msKeimgBox2 {
  height: auto;
}
.hidden {
  position: absolute;
  left: 1000px;
}
.mske_html {
  margin-top: 25%;
  margin-bottom: 50%;
}
.user_info:after {
	content: " ";
	display: block;
	clear: both;
}
.user_name {
	color: #969696;
	font-size: 14px;
	float: left;
	margin-right: 5px;
}
.stars:after{
    content: " ";
	display: inline-block;
	clear: both
}
.stars span {
	display: block;
	float: left;
	width: .9rem;
	height: .85rem;
	background-image: url(../images/stars.png);
	background-position: 0rem 0.85rem;
	background-repeat: no-repeat;
	background-size: .9rem 1.75rem;
}
.stars span.red {
	background-position: 0rem 0rem;
}

/*评论*/
.onlinenot{
    height: 35px;
    line-height: 35px;
    background: #EB6487;
    width: 120px;
    margin: auto;
    color: #fff;
    text-align: center;
    font-size: 14px;
}
.big-i {
	width: 100%;
	height: 100%;
	background: rgba(100,100,100,.6);
	position: fixed;
	top:0;
	z-index: 998;
	left: 0;
}
.buyinfo_table {
	width:90%;
	padding:10px 3% 20px;
	background:#fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: none;
	position: fixed;
	top: 30px;
	z-index: 999;
	left: 2%;
	right: 2%
}
.zaix {
	font-size: 16px;
	text-align: center;
	padding-left: 35px;
	margin-top: 16px;
}
.buyinfo_hd {
	height:35px;
	line-height:35px;
	text-align:center;
	font-size:16px;
	background-color: #b4282d;
	display: block;
	width: 100px;
	border-radius: 5px;
	color: #fff;
	margin: 0 auto;
	margin-top: 10px;
	font-weight: normal;
}
.buyinfo_table_box {
	padding-top:10px;
}
.buyinfo_table_box table {
	width:100%;
}
.buyinfo_table_box tr {
	padding:5px 0;
	height:40px;
}
.table_td {
	width:23%;
	font-size:14px;
	line-height:39px;
	text-align:right;
	vertical-align:top;
}
.table_cell {
	width:76%;
	padding-left:1%;
    line-height: 1;
    input[type="file"]{
        width: 95%;
    }
}
.input01 {
	width:95%!important;
	text-indent:5px;
	height:25px!important;
	padding:0!important;
	line-height:25px;
	border:1px solid #dadada;
	font-size:12px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.input_btn {
	width:70%;
	margin:0 auto;
	border:0;
	font-size:16px;
	color:#fff;
	height:40px;
	line-height:40px;
	background:EB6487;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.tj {
	text-align:center;
}
.input_btn01 {
	width:50%;
	margin:0 auto;
	border:0;
	margin-top:10px;
	font-size:14px;
	color:#fff;
	height:37px;
	line-height:36px;
	background:#EB6487!important;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.input_btn:hover {
	background:#EB6487!important;
}
.textarea_style {
	width:95%;
	text-indent:5px;
	height:70px;
	padding:0!important;
	font-size:12px;
	line-height:22px;
	margin-bottom:0px;
	border:1px solid #dadada;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.buyinfo_table_box i {
	font-style:normal;
	color:red;
	padding:0 2px;
}
.line {
	text-align:right;
	font-weight:bold;
	padding-right:6%;
	color:#666;
	font-size:15px;
}
.buyinfo_table_red {
	color:red;
}
.closeBtn {
	width: 30px;
	height: 30px;
	background: url('../images/close.png');
	background-size:100% auto;
	float: right
}
#img_1 img {
	width: 20px;
}