<div id="pingjia" class="pingjia">
    <ul class="allpj" id="allpj">
        <li class="ri"><section class="r">吳先生：鞋子樣式很好,穿著大方,大小也很合適,不錯,價格實惠。</section><img class="lj" src="/theme/xlzdnu.com/images/r.png"/><span class="touxiang"></span></li>
        <li class="le"><span class="touxiang"></span><img class="lj" src="/theme/xlzdnu.com/images/l.png"/><section class="l">周小姐：給老公買的，呵呵剛好到外地還好趕上了，很好，很滿意！</section></li>
        <li class="ri"><section class="r">楊文斌：又是一次快樂的購物，無論大小還是顏色都非常滿意，物美價廉。</section><img class="lj" src="/theme/xlzdnu.com/images/r.png"/><span class="touxiang"></span></li>
        <li class="le"><span class="touxiang"></span><img class="lj" src="/theme/xlzdnu.com/images/l.png"/><section class="l">陳東明：大小很合適,不錯,價格實惠。</section></li>
        <li class="ri"><section class="r">張先生：透氣很好，穿起來輕便舒服。</section><img class="lj" src="/theme/xlzdnu.com/images/r.png"/><span class="touxiang"></span></li>
        <li class="le"><span class="touxiang"></span><img class="lj" src="/theme/xlzdnu.com/images/l.png"/><section class="l">薛先生：尺碼標準，按平常穿皮鞋尺碼選剛剛好。</section></li>
        <li class="ri"><section class="r">高寶國：材質很好柔軟透氣，穿起來效果不錯！</section><img class="lj" src="/theme/xlzdnu.com/images/r.png"/><span class="touxiang"></span></li>
        <li class="le"><span class="touxiang"></span><img class="lj" src="/theme/xlzdnu.com/images/l.png"/><section class="l">陳超蓋：價格很實惠，比實體店買的質量還好。</section></li>
        <li class="ri"><section class="r">楊吳用：朋友正好是懂鞋子的，幫忙看了下，確實是物超所值，趕緊讓我幫忙訂購一雙</section><img class="lj" src="/theme/xlzdnu.com/images/r.png"/><span class="touxiang"></span></li>
        <li class="le"><span class="touxiang"></span><img class="lj" src="/theme/xlzdnu.com/images/l.png"/><section class="l">溫俊義:材質不錯,有質感,蠻好搭配褲子的,尺碼標準,很合腳</section></li>
        <li class="ri"><section class="r">吳先生：鞋子樣式很好,穿著大方,大小也很合適,不錯,價格實惠。</section><img class="lj" src="/theme/xlzdnu.com/images/r.png"/><span class="touxiang"></span></li>
        <li class="le"><span class="touxiang"></span><img class="lj" src="/theme/xlzdnu.com/images/l.png"/><section class="l">周小姐：給老公買的，呵呵剛好到外地還好趕上了，很好，很滿意！</section></li>
        <li class="ri"><section class="r">楊文斌：又是一次快樂的購物，無論大小還是顏色都非常滿意，物美價廉。</section><img class="lj" src="/theme/xlzdnu.com/images/r.png"/><span class="touxiang"></span></li>
        <li class="le"><span class="touxiang"></span><img class="lj" src="/theme/xlzdnu.com/images/l.png"/><section class="l">陳東明：大小很合適,不錯,價格實惠。</section></li>
        <li class="ri"><section class="r">張先生：透氣很好，穿起來輕便舒服。</section><img class="lj" src="/theme/xlzdnu.com/images/r.png"/><span class="touxiang"></span></li>
        <li class="le"><span class="touxiang"></span><img class="lj" src="/theme/xlzdnu.com/images/l.png"/><section class="l">薛先生：尺碼標準，按平常穿皮鞋尺碼選剛剛好。</section></li>
        <li class="ri"><section class="r">高寶國：材質很好柔軟透氣，穿起來效果不錯！</section><img class="lj" src="/theme/xlzdnu.com/images/r.png"/><span class="touxiang"></span></li>
        <li class="le"><span class="touxiang"></span><img class="lj" src="/theme/xlzdnu.com/images/l.png"/><section class="l">陳超蓋：價格很實惠，比實體店買的質量還好。</section></li>
        <li class="ri"><section class="r">楊吳用：朋友正好是懂鞋子的，幫忙看了下，確實是物超所值，趕緊讓我幫忙訂購一雙</section><img class="lj" src="/theme/xlzdnu.com/images/r.png"/><span class="touxiang"></span></li>
        <li class="le"><span class="touxiang"></span><img class="lj" src="/theme/xlzdnu.com/images/l.png"/><section class="l">溫俊義:材質不錯,有質感,蠻好搭配褲子的,尺碼標準,很合腳</section></li>
        <li class="ri"><section class="r">吳先生：鞋子樣式很好,穿著大方,大小也很合適,不錯,價格實惠。</section><img class="lj" src="/theme/xlzdnu.com/images/r.png"/><span class="touxiang"></span></li>
        <li class="le"><span class="touxiang"></span><img class="lj" src="/theme/xlzdnu.com/images/l.png"/><section class="l">周小姐：給老公買的，呵呵剛好到外地還好趕上了，很好，很滿意！</section></li>
        <li class="ri"><section class="r">楊文斌：又是一次快樂的購物，無論大小還是顏色都非常滿意，物美價廉。</section><img class="lj" src="/theme/xlzdnu.com/images/r.png"/><span class="touxiang"></span></li>
        <li class="le"><span class="touxiang"></span><img class="lj" src="/theme/xlzdnu.com/images/l.png"/><section class="l">陳東明：大小很合適,不錯,價格實惠。</section></li>
        <li class="ri"><section class="r">張先生：透氣很好，穿起來輕便舒服。</section><img class="lj" src="/theme/xlzdnu.com/images/r.png"/><span class="touxiang"></span></li>
        <li class="le"><span class="touxiang"></span><img class="lj" src="/theme/xlzdnu.com/images/l.png"/><section class="l">薛先生：尺碼標準，按平常穿皮鞋尺碼選剛剛好。</section></li>
        <li class="ri"><section class="r">高寶國：材質很好柔軟透氣，穿起來效果不錯！</section><img class="lj" src="/theme/xlzdnu.com/images/r.png"/><span class="touxiang"></span></li>
        <li class="le"><span class="touxiang"></span><img class="lj" src="/theme/xlzdnu.com/images/l.png"/><section class="l">陳超蓋：價格很實惠，比實體店買的質量還好。</section></li>
        <li class="ri"><section class="r">楊吳用：朋友正好是懂鞋子的，幫忙看了下，確實是物超所值，趕緊讓我幫忙訂購一雙</section><img class="lj" src="/theme/xlzdnu.com/images/r.png"/><span class="touxiang"></span></li>
        <li class="le"><span class="touxiang"></span><img class="lj" src="/theme/xlzdnu.com/images/l.png"/><section class="l">溫俊義:材質不錯,有質感,蠻好搭配褲子的,尺碼標準,很合腳</section></li>
    
    </ul>
</div>