@import './public/less/reset';
@import 'cmpt-guige.less';

html{
	background:#f1f1f1;
	height:auto !important;
}
body{
	width:100%;
	max-width:640px;
	margin:0 auto;
	background:#fff;
	padding-bottom:50px;
	height:auto !important;
}
img{
	vertical-align:top;
	width:100%;
}
video{
	width:100%;
	height:auto;
}
h1,h5{
	margin:0;
	padding:0;
}
button{
	border:none;
	background:none;
	outline:none;
}

// 轮播图
.swiper-pagination{
	text-align:right !important;
	.swiper-pagination-bullet {
		border-radius:0 !important;
		width:8px !important;
		height:4px !important;
		margin:0 2px !important;
	}
	.swiper-pagination-bullet-active{
		background:red;
	}
}

// 商品标题
.product_title {
	font-size:16px !important;
	color:#757575 !important;
	line-height:20px;
	padding:10px 4%;
	text-align:left !important;
}

// 商品信息
.product_info{
	padding:0 4%;
	.sales{
		padding:8px 0;
		font-weight:bold;
		.price{
			font-size:24px;
			line-height:52px;
			span{
				color:#ff0000;
			}
		}
		.discount{
			display:-webkit-flex;
			align-items:flex-start;
			display:flex;
			font-size:15px;
			height:48px;
			line-height:48px;
			overflow:hidden;
			span.number{
				font-size:20px;
				color:#f00;
			}
			.right{
				margin-left:25px;
				span{
					padding:3px 10px;
					color:#f59f38;
					border:1px solid #f59f38;
					border-radius:3px;
				}
			}
		}
	}
	.processing{
		display:-webkit-flex;
		display:flex;
		font-size:12px;
		border-top:1px dashed #c9c9c9;
		border-bottom:1px dashed #c9c9c9;
		height:35px;
		line-height:35px;
		div{
			margin-right:10px;
		}
		.process{
			display:inline-block;
			width:140px;
			height:7px;
			border:1px solid #b4282d;
			span{
				display:inline-block;
				height:7px;
				background:#f00;
			}
		}
	}
	.limit{
		display:-webkit-flex;
		display:flex;
		font-size:13px;
		align-items:center;
		justify-content: space-between;
		padding:12px 0;
		border-bottom:1px solid #c9c9c9;
		>div{
			color:#fff;
			background:#b4282d;
			padding:4px 6px;
			border-radius:3px;
		}
		#timer{
			font-size:0;
			span{
				font-size:12px;
			}
		}
		#h,#m,#s{
			background:#000;
			color:#fff;
			padding:1px 3px;
			border-radius:3px;
		}
	}
	.deliver{
		font-size:18px;
		font-weight:bold;
		height:60px;
		line-height:60px;
		span{
			color:#b4282d;
		}
	}
}

// 商品图文详情
.product_detail{
	padding:0 2%;
	.tab_bar{
		ul{
			display:-webkit-flex;
			display:flex;
			align-items:center;
			border-top:1px solid #c9c9c9;
			border-bottom:1px solid #c9c9c9;

			li{
				flex:1;
				text-align:center;
				border-left:1px solid #c9c9c9;
				height:100%;
				height:42px;
				line-height:42px;
				font-size:15px;
				&.active{
					border-top:3px solid #05bcd7;
					margin-top:-1px;
					height:40px;
					line-height:40px;
					&:after{
						content:'';
						display:inline-block;
						width:16px;
						height:14px;
						margin-left:8px;
						background:url(../images/active.png) no-repeat;
						background-size:16px;
					}
				}
				&:first-child{
					border-left:none;
				}
			}
		}
	}
	.m-img img {
		max-width: 100% !important;
	}
}

// 侧边栏
.module_sidebar{
	position:fixed;
	bottom:40px;
	width:100%;
	max-width:640px;
	text-align:right;
	display:none;
	.top{
		width:35px;
		height:35px;
		background:url(../images/top.png) no-repeat;
		background-size:100%;
		margin-right: 4%;
    	display: inline-block;
	}
}

// 服务模块
.module_service{
	display:-webkit-flex;
	display:flex;
	align-items:center;
	margin-top:14px;
	span{
		flex:1;
		text-align:center;
		height:35px;
		line-height:35px;
		font-size:13px;
		padding-top:26px;
		&:first-child{
			background:url(../images/free.png) no-repeat center 0;
			background-size:26px;
		}
		&:nth-child(2){
			background:url(../images/huo.png) no-repeat center 0;
			background-size:26px;
		}
		&:last-child{
			background:url(../images/7day.png) no-repeat center 0;
			background-size:26px;
		}
	}
}

// 最新订单
.module_new_order {
	.module_title {
		line-height:30px;
		background:#eee9e6;
		font-size:15px;
		margin:20px 0 10px;
		text-indent:1em;
	}
	.module_content {
		padding: 8px;
		background:#f8f8f8;
		border:2px solid #ededed;
		border-radius:5px;
		margin-top:10px;
	}
}
//订单查询
.module_check_order {
	.header{
		display:none;
	}
	h2.title{
		display:none;
	}
	.flexbox{
		display:block;
	}
	button#go{
		display:block;
		width:100%;
		background:#05bcd7;
		color:#fff;
	}
	input.inquiry_mob{
		background:#eee9e6;
		border-radius:0;
		width:100%;
		height:30px;
		line-height:30px;
		margin-bottom:10px;
	}
	.from{
		text-align: center;
		margin-top: 20px;
		margin-bottom: 15px;
		padding: 0 16px;
	}
	.prompt{
		text-align: center;
		font-size: 12px;
		color: #666;
		padding-top: 30px;
	}
	.inquiry_mob{
		height: 40px;
		line-height: 44px;
		padding: 2px;
		text-indent: 10px;
		color: #666;
		font-size: 14px;
		text-align: left;
		width: 60%;
		vertical-align: middle;
		margin-right: 8px;
		border-radius: 4px;
		border: 1px solid #eee;
	}
	#go{
		width: 44px;
		height: 44px;
		line-height: 44px;
		background-image: url('/public/image/search.png');
		background-size: 19px 19px;
		background-position: center;
		background-repeat: no-repeat;
		background-color: #ff5a5f;
		border: 0;
		border-radius: 4px;
		vertical-align: middle;
	}
	.buy_tips{
		margin: 0 15px 20px;
		padding: 15px;
		border:1px solid #eee;
		font-size: 12px;
		color: #212121;
	}
	.reminder{
		display: inline-block;
		width: 16px;
		height: 16px;
		background-image: url('/public/image/reminder.png');
		background-size: 100%;
		background-repeat: no-repeat;
		vertical-align: top;
		margin-right: 5px;
	}
	.buy_tips a{
		color: #FF5A5F;
	}
}

// header
header {
    top: 0;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    background: #f8f8f8;
	>img{
		display:block;
		margin:0 auto;
		height:45px;
		width:auto;
	}
}
// 侧边栏
.ui-offcanvas {
	display: none;
	position: relative;
	left: 0;
	top: 0;
	bottom: 0;
	width: 300px;
	right: 0;
	z-index:111;
	overflow-y: hidden;
	background-color: rgba(0,0,0,.3);
	height:100vh;
	h1 {
		color: #fff;
		margin-bottom: 30px;
		padding-left: 10px;
		padding-top: 20px;
	}
	>.boxer {
		width: 300px;
		height: 100%;
		position: relative;
		background: #222;
	}
	.ui-list {
		background-color: #222;
	}
	.ui-list li {
		background-color: #222;
		line-height: 45px;
		margin-left: 0;
		width: 100%;
		height: auto;
		display: block;
		margin-bottom: 20px;
		a {
			display: block;
			width: 100%;
			height: 45px;
			color: #fff;
			box-sizing: border-box;
			padding-left: 10px;
			border-bottom: 1px solid #444;
			&:active {
				background-color: #333
			}
			&:after{
				content:'';
				display:inline-block;
				width:8px;
				height:8px;
				border-bottom:2px solid #dedede;
				border-right:2px solid #dedede;
				transform:rotate(-45deg);
				float:right;
				margin-right:12px;
				margin-top:18px;
			}
		}
	}
}
body.offcanvas-in {
	width: 100%;
	height: 100%;
	overflow: hidden;
	#main {
		max-width: 540px;
		transform: translateX(300px);
		position: absolute;
		top: 0px;
		width: 100%;
		background:#fff;
	}
	.ui-offcanvas {display: block }
}
#main {
	transition: transform .4s
}
// footer
footer.ui-footer {
	background-color: #222;
	height: auto;
	font-size: 12px;
	ul {
		padding-top: 10px;
		text-align: left;
		padding: 10px 20px;
	    display: block;
    	overflow: hidden;
	}
	li {
		line-height: 2em;
	    width: 50%;
	    float: left;
		a {
			color: #fff;
			&:hover,&:active{
				text-decoration: underline;
			}
		}
	}
}
@import 'checkout.less';