header{
    position:fixed;
    width:100%;
    background:#fafafa;
    z-index:10;
    height:1.38667rem;
    top:0;
    z-index:11;
    max-width:540px;
    h1{
        margin: 0px; text-align: center; font-size: 16px; font-weight: normal; width:120px;
        position:absolute;height:16px;line-height:16px;top:17px;left:calc(50% - 60px);overflow:hidden;text-overflow :ellipsis;white-space:nowrap;
    }
    .homediv{
        margin-left:14px;
        a{
            display:inline-block;
            background:url(../images/home.png) no-repeat center;
            background-size:100%;
            width:24px;
            height:1.38667rem;
        }
    }
    .title_img{
        position:absolute;
        width:26vw;
        max-width:120px;
        top:0;
        left:37%;
        height:100%;
        text-align: center;
        background-size:contain;
        background-position:center;
        background-repeat:no-repeat;
    }
}