.promotion {
	position: relative;
	display: block;
    padding: 8px 14px;
    line-height: .6rem;
    background-color: #fff;
    font-size: .37333rem;

	> label {
    	color:#333;
    	position: absolute;
    	left: 14px;
    	top: 8px;
    	width: 1rem;
	}

	ul {
		padding-left: 1.2rem;
		li {
			color:#c36f0b;
			
		}
	}
}