<div class="detail">
	<div class="service {% if regions.region_id == 25 %}rub{% endif %}">
		<div>{{ lang.cash_on_delivery }}</div>
		<div>{{ lang.free_yun }}</div>
		<div>{{ lang.returned_goods }}</div>
	</div>
</div>