html {background-color: #eee; color: #333; font-family: 'Helvetica Neue', Helvetica, 'microsoft yahei', Arial, sans-serif; }
body{background:#fff;word-wrap: break-word;}
.container {max-width: 540px; margin: 0 auto; }
header {background-color: #fafafa; height: 44px; line-height: 44px; overflow: hidden; position: relative;}
header h1 {margin: 0px; text-align: center; font-size: 16px; font-weight: normal; }
header .goback {position: absolute; left: 7px; top: 0px; width: 30px; height: 30px; top: 7px; background-color: #fafafa; }
header .goback img { height: 100%; }
header .home {position: absolute; right: 7px; top: 0px; width: 30px; height: 30px; top: 7px; background-color: #fafafa; }
header .home img { height: 100%; }
#page-index {margin-bottom: 60px; }
#page-index .product-info { word-wrap: break-word; }
#page-index .product-info img {width: 100% !important; max-width: 540px; display: block; }
#page-index .product-info video { display: block; width: 100%; height: auto; }
#page-index footer {width: 100%; max-width: 540px; height: 50px; position: fixed; padding-left: 90px; z-index: 200; background-color: #fff; bottom: 0; box-sizing: border-box; }
#page-index footer > a.left {position: absolute; left: 0; top: 0; width: 90px; height: 50px; border-top: 1px solid #d9d9d9; background-image: url(../images/detail-kefu.png); background-repeat: no-repeat; background-position: center; background-size: auto 100%; }
#page-order {display: none; }
.5a_la { display: none !important; }

.m-servicePolicy {position: relative;z-index: 1;padding: 0 20px;background: #f4f4f4;display: flex;flex-flow: row nowrap;align-items: center;justify-content: space-around;height: 35px;}
.m-servicePolicy .item {display: flex; align-items: center; font-size: 14px; color: #666; position: relative;text-transform: capitalize;}
.m-servicePolicy .item .u-icon-servicePolicyRed{border-radius: 100%; border: solid 1px red; box-sizing: border-box; height: 5px; width: 5px; background-repeat: no-repeat; background-size: 100% 100%; margin-right: 5px; }
.whiteicon{display:inline-block;width: 8px;height: 8px;border-radius: 50%;border: 1px solid #fff;background: transparent;margin-right: 3px;}
.redicon{display:inline-block;width: 8px;height: 8px;border-radius: 50%;border: 1px solid #b4282d;background: #b4282d;margin-right: 3px;}
.dt-section{background: #fff;}
.dt-section-1{border-bottom: none;}
.m-detailBaseInfo{padding-left: 15px;}
.m-detailBaseInfo .info{padding-right:15px;background-color:#fff;text-align: center;}
.m-detailBaseInfo .info .name{font-size: 16px;color: #333;line-height: 1;margin-bottom: 5px;}
.m-detailBaseInfo .info .line1{margin-bottom: 20px;}
.m-detailBaseInfo .info .line1 .simpleDesc{font-size: 14px;color: #999;line-height: 1.5;}
.m-detailBaseInfo .info .line2 { text-align: left;padding:14px 0;}
.m-detailBaseInfo .info .line2 .retailPrice{color: #b4282d;line-height: 1;font-weight: 600;font-size: 28px;}
.m-detailBaseInfo .info .line2 del{font-size: 14px;display:inline-block;}
.m-listItem{position: relative;display: block;width: 100%; padding-right: 40px;height: 55px; box-sizing: border-box;}
.f-vc{position: relative; top: 50%;transform:translateY(-50%);}
.m-detailBaseInfo .specSelect .inner{font-size: 16px;line-height: 20px;font-weight: bold}
.i-p-b{font-size:14px;border-top:1px dashed #dcdcdc;border-bottom:1px dashed #dcdcdc;padding:8px 0 8px 2px;}
.colon{font-size:18px; }
.i-p-b{font-size:14px; border-top:1px dashed #dcdcdc; border-bottom:1px dashed #dcdcdc; padding:8px 0 8px 2px; }
.m-listItem .icon{position: absolute;top: 0;right: 5px;bottom: 0;margin: auto;}
.u-icon{display: inline-block;width: 30px;height: 30px;vertical-align: middle;background-repeat: no-repeat;background-size: 100%;}
.u-address-right{background-image: url(../images/right.png);background-size: 100% 100%;}

.bTop{margin:0 15px;background:#eee;height:40px;display:-webkit-flex;display:flex;justify-content: space-around;align-items:center;}
.bTop .bTitle{padding:4px;}
.bTop .active{border-bottom:2px solid #b3282d;}

.soldPart{}
.percentBar{display: inline-block;width: 40%;height: 5px;border: 1px solid #b4282d;border-radius: 8px;overflow: hidden;}
#progress{display:block;height: 100%;background: #b4282d;}
.progress{display: inline-block;height: 100%;background: #F53B3B;}
#percentNum{font-size:14px;margin-left:4px;}

.m-table{display: table;width: 100%;table-layout: fixed;line-height: 50px;border: 1px solid #d9d9d9;}
.m-table .tr{display: table-row;}
.m-table .td{display: table-cell;text-align: center;}
.w-button-block{display: block;width: 100%;}
.w-button, .w-button:focus, .w-button:visited{display: block;vertical-align: middle;text-align: center;}
#inquiry{width: 100px;font-size: 14px;}
#inquiry img{width: 16px;vertical-align: middle;}
.dt-btns .right .btn-addToCart{color: #fff;border: 1px solid #b4282d;background-color: #b4282d;overflow: hidden;}
.m-goToTop{position: fixed;width: 38px;height: 38px;bottom: 62px;right: 9px; z-index: 20;display: none;background-image: url(../images/goToTop.png);background-size:100% 100%;background-repeat: no-repeat;}
#login{text-align: center;}
.u-login{width: 30px;height: 30px;}
.login{animation:myfirst 1s;-moz-animation:myfirst 1s linear;-webkit-animation:myfirst 1s linear;-o-animation:myfirst 1s linear; -webkit-animation-iteration-count: infinite;}
@keyframes myfirst
{
0% {transform:rotate(0deg);-ms-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);}
50%{transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);}
100%{transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);}
}
@-moz-keyframes myfirst /* Firefox */
{
0% {transform:rotate(0deg);-ms-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);}
50%{transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);}
100%{transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);}
}
@-webkit-keyframes myfirst /* Safari and Chrome */
{
0% {transform:rotate(0deg);-ms-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);}
50%{transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);}
100%{transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);}
}
@-o-keyframes myfirst /* Opera */
{
0% {transform:rotate(0deg);-ms-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);-o-transform:rotate(0deg);}
50%{transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);}
100%{transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);}
}


.u-detail-back{width: 50px;height: 50px; background-image: url(../images/detail-back.png);background-repeat: no-repeat;background-size: 100% 100%;}


.m-orderFt{display: block; zoom:1; z-index: 1; position: fixed; bottom: 0; width: 100%; max-width: 540px; height: 50px; background-color: #fff; border-top: 1px solid rgba(0,0,0,.2);}
.m-orderFt .actualPrice{float: right;line-height: 50px;font-size: 16px;margin-right: 10px;}
.m-orderFt .actualPrice .label, .m-orderFt .actualPrice .value{color: #b4282d;font-size: 16px;}
.m-orderFt .actualPrice .value{font-weight: 600;}
.m-orderFt .btn{float: right;width: 120px;height: 50px;line-height: 50px;border-radius: 0;}
.w-button, .w-button:focus, .w-button:visited{display: inline-block;vertical-align: middle;;text-align: center;font-size: 16px;color: #fff;border: 1px solid #b4282d;background-color: #b4282d;overflow: hidden;}
#POP800_LEAVEWORD_DIV{display: none !important;}

.detail_con div {line-height: 0px;}
.notes{text-align: center;font-weight: 500;}
.User_notes{padding: 15px 15px 0 15px; background: #fff;font-size: 14px;color: #333;text-align: left;}
.note_title{margin: 6px 0;}
.note_text{font-size: 14px;color: #333;text-align: left;line-height: 23px;text-indent: 16px;}
#tipmsg{position: fixed;top: 50%;left: 50%;transform:translate(-50%,-50%); background-color: #000;border-radius: 8px;z-index: 100;transition:opacity .5s ease-in;opacity: .8}
#tipmsg .j-text{color: #fff;text-align: center;padding: 10px;font-size: 14px;}
.decimal{color: #b4282d}
.tips{padding: 5px 15px;color: #999}

/*评论*/
.big-i{width: 100%;height: 100%;background: rgba(100,100,100,.6);position: fixed;top:0;z-index: 998;left: 0;}
.buyinfo_table{width:90%;padding:10px 3% 20px;background:#fff;-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;display: none;position: fixed;top: 30px;z-index: 999;left: 2%;right: 2%}
.zaix{font-size: 16px;text-align: center;padding-left: 35px;margin-top: 16px;}
.buyinfo_hd{height:35px;line-height:35px;text-align:center;font-size:16px; background-color: #b4282d; display: block; width: 100px; border-radius: 5px; color: #fff; margin: 0 auto;margin-top: 10px; font-weight: normal;}
.buyinfo_table_box{padding-top:10px;}
.buyinfo_table_box table{width:100%;}
.buyinfo_table_box tr{padding:5px 0;height:40px;}
.table_td{width:21%;font-size:14px;line-height:39px;text-align:right;vertical-align:top;}
.table_cell{width:78%;padding-left:1%;}
.input01{width:95%!important;text-indent:5px;height:25px!important;padding:0!important;font-family: å¾®è½¯é›…é»‘;line-height:25px;border:1px solid #dadada;font-size:12px;-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;}
.input_btn{width:70%;margin:0 auto;border:0;font-size:16px;color:#fff;height:40px;line-height:40px;background:red;-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;}
.tj{text-align:center;}
.input_btn01{margin:0 auto;border:0;font-family: å¾®è½¯é›…é»‘;margin-top:10px;font-size:14px;color:#fff;height:37px;line-height:36px;background:#b4282d!important;-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;}
.input_btn:hover{background:#FF1818!important;}
.textarea_style{width:95%;text-indent:5px;height:70px;padding:0!important;font-size:12px;font-family: å¾®è½¯é›…é»‘;line-height:22px;margin-bottom:0px;border:1px solid #dadada;-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;}
.buyinfo_table_box i{font-style:normal;color:red;padding:0 2px;}
.line{text-align:right;font-weight:bold;padding-right:6%;color:#666;font-size:15px;}
.buyinfo_table_red{color:red;}
.closeBtn{width: 30px;height: 30px; background: url('../images/close.png');background-size:100% auto;float: right}
#img_1 img{width: 20px;}




/*规格*/
.f-fl{float: left;}
.dt-btns:after, .dt-paramselect .info-con:after{display: block;clear: both;visibility: hidden;height: 0;overflow:hidden;content: ".";}
.dt-paramselect .spec-con{padding: 0 15px 60px 15px;}
.dt-paramselect .info-con{padding: 15px;padding-top: 30px; background: #fff; border-bottom: 1px solid #E0E0E0;}
.dt-paramselect .info-con .left{width: 100px;height:100px;overflow: hidden;border-radius: 2px;background-color: #fff;margin-right: -100px;}
.dt-paramselect .info-con .left img{width: 100%;height: 100%;}
.dt-paramselect .info-con .right{line-height: 15px;width: 100%;padding-top: 0px;padding-left: 10px;}
.dt-paramselect .info-con .right .con{margin-left: 100px;}
.dt-paramselect .info-con .right .price{font-size: 16px;padding-bottom: 10px;}
.dt-paramselect .info-con .right .money{font-weight: 600}
.dt-paramselect .info-con .right .sku{font-size: 16px;}
.dt-paramselect .info-con .right .sku .it{margin-right: 5px;}
.u-format,.u-fornum{padding: 0 15px;font-size: 16px}
.u-format .tt,.u-fornum .tt{line-height: 15px;padding-bottom: 10px;font-size: 16px;}
.u-format .package{padding-bottom: 15px;}
.u-format .package .tab{display: inline-block;width: 90%; position: relative;vertical-align: middle;border-radius: 3px;padding: 3px 15px;font-size: 14px;text-align: center;margin-right: 15px;margin-bottom: 10px;border: 1px solid #333;}
.u-format .package .u-spec-sel{width: 20px;height: 20px;background-image: url(../images/spec-sel.png);background-repeat: no-reqeat;background-size: 100%;}
.u-format .package .tab .u-spec-sel{display: none;position: absolute;bottom: -2px;right: -2px;}
.u-format .con{padding-bottom: 15px;}
.u-format .con .tab img{width:100px;height:100px;}
.u-format .con .tab span{display:block;}
.u-format .con .tab{display: inline-block;position: relative;vertical-align: middle;border-radius: 3px;padding:2px;font-size: 14px;line-height: 30px; text-align: center;margin-right: 15px;margin-bottom: 10px;border: 1px solid #333;}
.u-format .con .tab-sel,.u-format .package .tab-sel{border: 1px solid #b4282d;color: #b4282d;}
.u-format .con .u-spec-sel{width: 20px;height: 20px;background-image: url(../images/spec-sel.png);background-repeat: no-reqeat;background-size: 100%;}
.u-format .con .tab .u-spec-sel{display: none;position: absolute;bottom: -2px;right: -2px;}
.u-format .con .tab-sel .u-spec-sel,.u-format .package .tab-sel .u-spec-sel{display: block;}
.m-selnum{display: inline-block;background-image: url(../images/selnum.png);background-size:100% 100%;}
.m-selnum.dr{background-image: url(../images/selnum.png)}
.m-selnum .less, .m-selnum .more, .m-selnum .textWrap, .m-selnum input{border: none;background-color: transparent;}
.m-selnum .less, .m-selnum .more, .m-selnum .textWrap{position: relative;float: left;height: 32px;}
.m-selnum .textWrap{position: relative;width: 60px;text-align: center;font-size: 14px;}
.m-selnum .less, .m-selnum .more{width: 41px;}
.m-selnum .textWrap input{position: relative;z-index: 1;font-size: 14px;}
.m-selnum input{height: 100%;width: 100%;box-sizing: border-box;margin: 0;text-align: center;color: #333;}
.u-detail-back{width: 50px;height: 50px; background-image: url(../images/detail-back.png);background-repeat: no-repeat;background-size: 100% 100%;}
.swiper-slide-active{ height:auto !important;}
.swiper-container { width: 100%; overflow: hidden;}
.swiper-container img{width: 100%;}

.biao{padding: 10px 0;text-align:center;}
.biao h3{display: inline-block;padding: 2px 16px;text-align: center;height:24px;line-height: 24px;background: #000;border-radius: 5px;color: white;margin: 0 auto;font-size: 16px;font-weight: 300}
/*放大效果*/
/*放大效果*/
.msKeimgBox { margin: 0px auto; width: 100%; overflow: hidden; position: relative; padding-top: 10px;  }
.msKeimgBox ul { width: 1000px; }
.mskeLayBg { background: #000; width: 100%; position: absolute; left: 0px; top: 0px; z-index: 10; opacity: 0.7; filter: alpha(opacity=70); display: none; _display:none!important }
.mskelayBox { height: 100%; width:100%;  position: fixed; left: 0; top: 0;  z-index: 1000; background: #FFF; display: none; _display:none!important }
.mskeImgBg { height: 57px; width: 100%; position: absolute; left: 0px; bottom: 0px; }
.mskeClaose { position: absolute; top: 15px; right: 18px; cursor: pointer; }
.mske_downIco { position: absolute; left: 0px; top: 0px; }
.mske_imgDown { background: url(../images/mke_imgMbg.png) repeat; height: 57px; width: 818px; position: absolute; right: 0px; bottom: 0px; font: 13px/57px "微软雅黑"; color: #FFF; }
.mske_imgDown a { margin-left: 34px; }
.msKeimgBox ul li { float: left;  margin: 0 10px 10px 0; width: auto; cursor: pointer; }
.mskeTogBtn { background: url(../images/mke_moreImg.jpg) no-repeat; height: 93px; width: 185px; position: absolute; z-index: 1; right: 0px; cursor: pointer; bottom: 0px; }
.mskeTogBtn2 { background: url(../images/mke_moreImg2.jpg) no-repeat; bottom: 10px;display: none }
.msKeimgBox2 { height: auto; }
.hidden{position: absolute;left: 1000px;}
.mske_html{ padding: 20px; box-sizing: border-box; width: 100%; height: 100%; }
.title_ac h5{margin:10px;text-align: center;border-bottom: 1px dotted #ccc;}
.upimage{font-size: 12px;width: 68px;}
.file_imgs{font-size: 12px;}