.dt-paramselect{
	padding:2%;
}
#comb{
	margin:10px 0;
	font-size:13px;
}
.info-con{
	position:relative;
	min-height:120px;
}
.info-con{
	background:#fff;
	position:relative;
	min-height:120px;
	border-bottom:1px dashed #aaa;
}
label.tab{
	text-align:center;
	display:block;
	font-size: 14px;
    line-height: 38px;
    margin-top: 10px;
    padding:0 4%;
    border: 1px solid #ddd;
}
label.tab.tab-sel{
	background:#b5b5b5;
}
.tc{
	padding:2%;
}
.u-format{
	.tt{
		margin-top:10px;
		font-size:14px;
	}
	.con{
		font-size:0;
		.tab{
			display:inline-block;
			font-size:13px;
			padding:10px 4px;
			min-width:45%;
			margin:-1px -1px 0 0;
			text-align: center;
			border: 1px solid #ddd;
			&:last-child{
				margin-right:0;
			}
		}
		.tab.tab-sel{
		    background:#b5b5b5;
		}
	}
}
.less,.more{
	width:32px;
	height:32px;
	color:#222;
	border:1px solid #ddd;
	line-height:32px;
	text-align:center;
	font-size:28px;
	font-family:monospace;
	vertical-align:middle;
	display:inline-block;
}
.textWrap{
	font-size:12px;
	padding:0 16px;
	line-height:32px;
	vertical-align:middle;
	display:inline-block;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.u-fornum{
	padding:2%;
	font-size:13px;
}
.m-selnum{
	font-size:0;
	display:inline-block;
}