html,body,h1,h3,ul,li{margin:0;padding:0;}
@color : #f50057;
@color2 : #ff4081;
@b_color : #222;
@b_color2 : #bbaa77;
@p_color : #6200ea;
@p_color2 : #fff;
@o_color : #ff9800;
@o_color2 : #ffc107;
@padding:4%;
body,html{
	max-width:640px;
	margin:0 auto;
}
body{
	margin-bottom:50px;
}
button{
	border:none;
	background:none;
	outline:none;
}
img{
	width:100%;
}
.swiper-slide{
	font-size:0;
}
.swiper-pagination{font-size: 14px;color: #222;
    font-weight: bold;
    background: rgba(255,255,255,0.8);
	border:2px solid rgba(238,238,238,0.8);
    width: auto !important;
    left: auto !important;
    right:@padding;
    bottom:20px !important;
    padding: 1% 4%;
    border-radius: 14px;
}
#POP800_PANEL_DIV{
	display:none;
}
section{
	.message{
		position:absolute;
		top: 20px;
	    z-index: 99;
	    width: 100%;
	    max-width:640px;
		#fahuo{
			@media screen and (max-width:640px) {
				left:@padding;
			}
			background: rgba(0,0,0,0.8);
		    color: #fff;
		    font-size: 12px;
		    padding: 1.5% 3%;
		    border-radius: 20px;
		    position:fixed;
		    display:none;
			@media screen and (min-width:768px) {
				padding: 12px 24px;
			}
		}
		#kefu{
			right:@padding;
			background:url(../images/services.png);
			width: 10%;
		    padding-top: 10%;
		    background-size: 100%;
		    position:absolute;
		}
	}
}
.buyinfo_post{
	color:#fff;
	position:relative;
	div:nth-child(1),div:nth-child(2){
		float:left;
		width:46%;
		padding:12px 4% 12px 0;
		height: 36px;
	}
	.price{
    	span{
    		display:block;
			text-indent:@padding*2;
		    font-weight: bold;
		    line-height: 20px;
    	}
    	.pre_price{
    		font-size: 10px;
    	}
	}
	.timeWrap{
		font-size:12px;
		width: 46%;
	    padding-right: @padding;
	    text-align: right;
	    span#clock{
	    	padding-left: 20px;
    		background-size: 16px;
	    }
	    span#timer{
	    	font-size:0px;
	    	span{
	    		font-size:12px;
	    	}
	    }
	    span.process{
	    	display:inline-block;
	    	margin:8px auto 0;
	    	height:8px;
	    	border-radius:4px;
	    	font-size:0;
	    	text-align:left;
	    	span{
	    		width:60%;
	    		height:8px;
	    		display:inline-block;
	    		border-radius:4px;
	    	}
	    }
	}
}
.detial{
	font-size:12px;
	h1{
	    font-size: 14px;
	    color: #222;
	    line-height:34px;
	    padding: 10px @padding 0;
	}
	.ensure{
		padding:0 @padding;
		line-height:12px;
		li.j_product_icon{
		    float: left;
    		margin-right: 10px;
    		font-weight:bold;
		}
	}
	.arrival_time{
		font-weight:bold;
		color:#666;
		line-height:52px;
		padding:0 @padding
	}
	.service{
		padding:16px 0;
		border:1px solid #eee;
		border-left:none;
		border-right:none;
		margin:0 @padding;
		position: relative;
		li{
			float:left;
			font-weight:600;
			color:#aaa;
		    padding: 0 16px 0 20px;
		    line-height:17px;
		    &:first-child{
		    	background-position:0 -30px;
		    }
		    &:nth-child(2){
		    	background-position:0 0;
		    }
		    &:nth-child(3){
		    	background-position:0 -60px;
		    }
		}
		.right{
			width:16px;
			height:16px;
			background:url(../images/arrow.png) no-repeat center;
			background-size:12px;
			position:absolute;
			right:@padding;
			transform: rotate(0deg);
			&.down{
				transform: rotate(180deg);
				-webkit-transform: rotate(180deg);
			}
		}
		.service_detail{
			float: left;
		    font-size: 12px;
		    overflow: hidden;
		    line-height:20px;
		    display:none;
		    p{
			    text-indent: -60px;
		    }
		    h3{
		    	margin-top:16px;
		    }
		}
	}
}
footer.footer{
    position: fixed;
    bottom: 0;
    width:100%;
    height:44px;
    z-index:105;
    max-width:640px;
    li{
    	float: left;
    	width: 46%;
    	&:nth-child(2){
    		text-align:right;
    	}
    }
    .price_lost{
    	font-size: 0;
	    line-height: 44px;
	    padding-left:@padding;
    	&:before{
    		content:'';
    		width:16px;
    		height:12px;
    		display:inline-block;
    	}
    	span{
    		font-size:12px;
    	}
    }
    .buy_now{
    	padding-right:@padding;
		button{
		    font-size: 16px;
		    display: inline-block;
		    line-height:44px;
		}
		span{
			display: inline-block;
		    width: 6px;
		    height: 6px;
		    transform:rotate(-45deg);
		    -webkit-transform:rotate(-45deg);
		}
    }
}
.product_info{
	margin-top:20px;
	p.top{
		right:@padding;
		background:url(../images/top.png);
		width: 10%;
	    padding-top: 10%;
	    background-size: 100%;
	    position:fixed;
	    bottom:90px;
	    display:none;
	}
	img {
		max-width: 100% !important;
		height: auto !important;
	}
}

//粉色
.r_price{
	background:@color;
	.top_price{
		font-size:20px;
	}
	.pre_price{
		font-size:10px;
	}
}
.r_timeWrap{
	background:@color2;
	span#clock{
    	background:url(../images/clock.png) no-repeat;
    }
    span.process{
    	width:98%;
    	background:rgba(255, 255, 255, 0.2);
    	span{
    		background:#fff;
    	}
    }
}
.ensure{
	li.r_ensure{
		color:@color;
	}
}
.r_service{
	li{
		background:url(../images/r_service.png) no-repeat;
	}
}
.r_triangle{
	width:0;
	height:0;
	border-right:20px solid @color2;
	border-top:30px solid transparent;
	border-bottom:30px solid transparent;
	padding:0;
	position:absolute;
	top:0;
	right:50%;
}
footer.r_footer{
    background:@color;
    .price_lost{
	    color: #fff;
    	&:before{
    		background:url(../images/left2.png) no-repeat;
    		background-size:12px;
    	}
    	span{
    		font-size:12px;
    	}
    }
    .buy_now{
    	padding-right:@padding;
		button{
		    color: #fff;
		}
		span{
		    border-right:2px solid #fff;
		    border-bottom:2px solid #fff;
		}
    }
}
//橙色
.o_price{
	background:@o_color;
	.top_price{
		font-size:20px;
	}
	.pre_price{
		font-size:10px;
	}
}
.o_timeWrap{
	background:@o_color2;
	span#clock{
    	background:url(../images/clock.png) no-repeat;
    }
    span.process{
    	width:98%;
    	background:rgba(255, 255, 255, 0.2);
    	span{
    		background:#fff;
    	}
    }
}
.ensure{
	li.o_ensure{
		color:@o_color;
	}
}
.o_service{
	li{
		background:url(../images/o_service.png) no-repeat;
	}
}
.o_triangle{
	width:0;
	height:0;
	border-right:20px solid @o_color2;
	border-top:30px solid transparent;
	border-bottom:30px solid transparent;
	padding:0;
	position:absolute;
	top:0;
	right:50%;
}
footer.o_footer{
    background:@o_color;
    .price_lost{
	    color: #fff;
    	&:before{
    		background:url(../images/o_left.png) no-repeat;
    		background-size:12px;
    	}
    	span{
    		font-size:12px;
    	}
    }
    .buy_now{
    	padding-right:@padding;
		button{
		    color: #fff;
		}
		span{
		    border-right:2px solid #fff;
		    border-bottom:2px solid #fff;
		}
    }
}
//黑色和紫色
.b_price,.p_price{
	.top_price{
		font-size: 24px;
	}
	.pre_price{
		font-size: 12px;
	    color:#666;
	}
}
.b_timeWrap,.p_timeWrap{
    color:#666;
	font-weight:600;
	height: 12px !important;
    line-height: 12px;
    margin-top:24px;
    span#timer{
    	color:#666;
    }
    span.process{
    	width:92%;
    	background:rgba(180, 170, 119, 0.2);
    	position:absolute;
    	top:60px;
    	left:4%;
    }
}
h1.b_title,h1.p_title{
	margin-top:18px;
}
//黑色
.b_price{
	.top_price{
		color:@b_color;
	}
}
.b_timeWrap{
    span#clock{
    	background:url(../images/b_clock.png) no-repeat;
    }
    span.process{
    	span{
    		background:@b_color2;
		    background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 2%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
		    background-size: 5px 5px;
    	}
    }
}
.ensure{
	li.b_ensure{
		color:@b_color2;
	}
}
.b_service{
	li{
		background:url(../images/b_service.png) no-repeat;
	}
}
footer.b_footer{
    background:@b_color;
    .price_lost{
	    color:@b_color2;
    	&:before{
    		background:url(../images/b-left.png) no-repeat;
    		background-size:12px;
    	}
    	span{
    		font-size:12px;
    	}
    }
    .buy_now{
    	padding-right:@padding;
		button{
		    color:@b_color2;
		}
		span{
		    border-right:2px solid @b_color2;
		    border-bottom:2px solid @b_color2;
		}
    }
}
//紫色
.p_price{
	.top_price{
		color:@p_color;
	}
}
.p_timeWrap{
    span#clock{
    	background:url(../images/b_clock.png) no-repeat;
    }
    span.process{
    	span{
    		background:@p_color;
		    background-size: 5px 5px;
		    background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 2%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    	}
    }
}
.ensure{
	li.p_ensure{
		color:@p_color2;
	}
}
.p_service{
	li{
		background:url(../images/p_service.png) no-repeat;
	}
}
footer.p_footer{
    background:@p_color;
    .price_lost{
	    color:@p_color2;
    	&:before{
    		background:url(../images/p_left.png) no-repeat;
    		background-size:12px;
    	}
    	span{
    		font-size:12px;
    	}
    }
    .buy_now{
    	padding-right:@padding;
		button{
		    color:@p_color2;
		}
		span{
		    border-right:2px solid @p_color2;
		    border-bottom:2px solid @p_color2;
		}
    }
}
//订单产品信息
section#page-order{
	padding:0 4%;
	background:#fff;
	z-index: 100;
	display:none;
	position:absolute;
	top:0;
	width: 92%;
	max-width:640px;
	@media screen and (min-width:640px) {
		padding:0 0 0 40px;
		width:600px;
	}
}
#attrimg{
    width: 20%;
    max-width: 150px;
    min-width: 100px;
}
.info-con{
	position:relative;
	padding-top:50px;
}
.tt{
    font-size: 12px;
    font-weight: bold;
}
.left.f-fl{
	width:100px;
	margin-right:-100px;
}
.right.f-fl {
    margin-left:116px;
}
.f-fl{
	float:left;
}
.money{
	font-size:20px;
	font-weight:bold;
}
.sku{
	color:#666;
	font-size:12px;
	.it{
		display:inline-block;
	}
}
.con{
	padding-top:16px;
}
.textWrap{
	font-size:12px;
	color:#666;
	padding:0 16px;
	line-height:32px;
	vertical-align:middle;
	display:inline-block;
}
.less,.more,.close{
	width:32px;
	height:32px;
	color:#222;
	border:1px solid #eee;
	border-radius:16px;
	line-height:32px;
	text-align:center;
	font-size:28px;
	font-family:monospace;
	vertical-align:middle;
	display:inline-block;
}
.close{
	position:absolute;
	top:20px;
	right:0;
	border-color:#222;
}
.tab {
    display: block;
    width: 92%;
    height: 32px;
    line-height: 32px;
    color: #ccc;
    background: #f6f6f6;
    border-radius: 16px;
    margin: 10px 0;
    padding: 0 10px;
    font-size: 12px;
    text-align: center;
}
.tab.tab-sel{
	color:#fff;
}
.con{
	font-size:0;
}
.con .tab{
	width:auto;
	display:inline-block;
	margin-right:16px;
	&:last-child{
		margin-right:0;
	}
}
//黑色
.black .money{
	color:@b_color;
}
.black .tab.tab-sel{
	background:@b_color;
	color:@b_color2;
}
//粉红色
.red .money{
	color:@color;
}
.red .tab.tab-sel{
	background:@color;
	color:#fff;
}
//橘色
.orange .money{
	color:@o_color;
}
.orange .tab.tab-sel{
	background:@o_color;
	color:#fff;
}

//紫色
.purple .money{
	color:@p_color;
}
.purple .tab.tab-sel{
	background:@p_color;
	color:@p_color2;
}