/*初始化*/
*{box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;text-size-adjust:100%;}
body{background: #f4f4f4; -webkit-tap-highlight-color: rgba(0,0,0,0);width: 100%;max-width: 540px;margin: auto !important;-webkit-font-smoothing: subpixel-antialiased;}
blockquote, body, button, caption, dd, div, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hr, html, input, legend, li, menu, ol, p, pre, table, td, textarea, th, ul{margin: 0;padding: 0;outline:0;}
body, button, input, keygen, legend, select, textarea{outline: 0;color: #333;line-height: 1.5;font-family: "微软雅黑";}
a, a:hover{text-decoration: none;outline: 0;color: #b4282d;}
li{list-style:none;}

/*确认页面*/

/*order*/
.u-icon-detail-kefu{width: 30px;height: 30px;background-image: url(../images/detail-kefu.png);margin-right: 10px;}
.m-hd{top: 0;left: 0;z-index: 5;width: 100%;height: auto;line-height: 22px; background: #f4f4f4;}
.m-topBar{position: relative;padding: 0 10px;display: flex;}
.goback{display: block;float: left; height: 30px;width: 30px;background-image: url(../images/detail-back.png);background-repeat: no-repeat;background-size: 100% 100%;margin-top: 8px;}
.title{width: 200px;font-size: 16px;text-align: center; padding: 12px 0px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin: auto;}
.goindex{display: block;float: right; height: 25px;width: 25px;background-image: url(../images/house.png);background-repeat: no-repeat;background-size: 100% 100%;margin-top: 10px;}
.m-orderList{background-color: #f4f4f4;position: relative;}
.m-orderItem{margin-top: 10px;padding:5px 15px;background-color: #fff;font-size: 16px;box-shadow: 0 0 125px #ccc;}
.first{margin-top: 0;}
.m-orderItem .row-1, .m-orderItem .row-2, .m-orderItem .row-3{position: relative;overflow: hidden;font-size: 12px;}
.m-orderItem .row-2, .m-orderItem .row-3{}
.m-orderItem .orderId, .m-orderItem .remainTime{display: inline-block;height: 45px;line-height: 45px;margin-right: 15px;font-size: 14px;}
.f-fr{float: right;}
.f-fl{float: left;}
.m-orderItem .row-2{
    background: #f8f8f8;
    border-radius: 5px;
    margin: 8px 0;
    padding: 12px 16px;}
.m-orderItem .goodImg{position: relative;width: 80px;height: 80px;background-color: #f4f4f4;}

.m-orderItem .goodInfo{margin-left: 10px;}
@media screen and (max-width: 330px){
    .m-orderItem .goodInfo{margin-left: 16px;width: 50%;}
}
.m-orderItem .goodName{width: 200px;overflow: hidden;font-size: 14px;color: #8D909D;}
.m-orderItem .goodNum{color: #8D909D;font-size: 12px;}
.m-orderItem .goodStatus{font-size: 12px;position: absolute;top:74px;width: 68%}
.m-orderItem .row-3{height: 55px;}
.m-orderItem .cost{display: inline-block;height: 55px;line-height: 55px;}
.retailPrice{color: #b4282d;}
.row-1{height: 52px}
#POP800_INIT_DIV{display: none}
#POP800_PANEL_DIV{display: none}
#POP800_LEAVEWORD_DIV{display: none}
.tips{color: #999;width: 80px;display: inline-block;}
.tips_orderid{color: #252c41;display: inline-block;margin-right: 10px;}
.red{color: #b4282d;font-size: 18px;}
.tipred{display: inline-block;width: 80px;}
a.kefu{color: #333;background-color: #fff;border:1px solid #FF5A5F;border-radius: 4px;padding: 0 33px 0 5px;}
.w-tips{padding-left:20px;background-color: #fff;height: 32px;}
.w-tips a:link,.w-tips a:visited,.w-tips  a:hover,.w-tips  a:active{background-color: #FF5A5F;border:1px solid #f4f4f4;;border-radius: 5px;    display: inline-block;color: white;line-height: 32px;font-weight: 600;font-size: 14px;padding: 0 4px;}
.timetips{width: 100%;background: white;height: 95px;font-size: 12px;padding-top:64px;}

.seven{width: 50%;box-sizing: border-box;border-right: 1px solid #8D909D;text-align: center;color: #7C7F8D;float: left;}
.shop_re{width: 50%;box-sizing: border-box;height: 20px;text-align: center;color: #7C7F8D;float: right;}
.seven_be{position:relative;top:1px;display:inline-block;height: 20px;width: 20px;background: url("../images/2_24px@3x.png")no-repeat center;background-size: 20px;}
.shop_re_be{position:relative;top:1px;display:inline-block;height: 20px;width: 20px;background: url("../images/2_24px@3x.png")no-repeat center;background-size: 20px;}
.uuo{display: inline-block;position: relative;top:-4px;padding-left: 4px;}

.old_price{vertical-align:baseline;color: #999;font-size: 14px;text-decoration:line-through;}
.t_one{text-align: center;margin:20px 0;}
.t_one h1{font-size: 20px;font-weight: 500;}
.t_one p{font-size: 14px;padding: 3px 15px;color: #8D909D;text-align: center;}
.kefu{background: url("../images/headset_24px.png")no-repeat;background-size: 20px;width: 20px;height: 20px;display: inline-block;vertical-align: middle;margin-top: -2px;margin-left: 5px;}
.left_l{font-size: 12px;width: 17%;float: left;text-align: right;color: #8D909D;}
.right_r{font-size: 12px;width: 50%;float: right;text-align: right;}
.ul li{overflow: hidden;margin: 10px 0;}