@import 'guige.less';
html{
	background:#f1f1f1;
	font-family: 'Microsoft YaHei','PingFangSC-Regular', 'Verdana', 'Arial', '宋体';
}
body{
	width:100%;
	margin:0 auto;
	max-width:640px;
	background:url(../images/bg.jpg);
	font-size:16px;
	padding-bottom:60px;
}
button{
	border:none;
	background:none;
	outline:none;
}
#page-order{
	display:none;
}
#POP800_PANEL_DIV{
	display:none;
}
.swiper-slide{
	font-size:0;
}
.detail{
	display:flex;
	padding: 0 2% 0 4%;
	.left{
		flex:1;
		.title{
			line-height:22px;
			padding:12px 0;
		}
		.price{
		    font-size: 20px;
		    font-weight: bold;
		    color: #d32301;
		}
		.limit{
			color: #d32301;
			border:2px solid transparent;
			width:4.5em;
			text-align:center;
			line-height:1.3em;
			font-size:12px;
			margin-top:30px;
			-moz-border-image:url(../images/bg_limit.png) 4 4 stretch;
			-webkit-border-image:url(../images/bg_limit.png) 4 4 stretch;
			-o-border-image:url(../images/bg_limit.png) 4 4 stretch;
			border-image:url(../images/bg_limit.png) 4 4 stretch;
		}
		.timeWrap{
			font-size:12px;
			line-height:44px;
			#timer{
				font-size:0
				span{
					font-size:12px;
				}
			}
		}
	}
	.right{
		width:100px;
		height:inherit;
		background:url(../images/lantern.png) no-repeat;
		background-size:100px;
		position:relative;
		span{
			position: absolute;
			writing-mode: tb-rl;
			-webkit-writing-mode: vertical-rl;
		    writing-mode: vertical-lr;
		    *writing-mode: tb-rl;
		    color: #f4f4f4;
		    font-size: 13px;
		    &:first-child{
		    	top: 59px;
    			left: 18px;
		    }
		    &:last-child{
		    	top: 88px;
    			left: 71px;
		    }
		}
	}
}
#h,#m,#s{
	padding:1px 3px;
	background:#000;
	color:#fff;
	border-radius:4px;
}
.service{
	margin:0 4%;
	padding:0 8%;
	display:flex;
	line-height:36px;
	background:url(../images/bg_service.png) no-repeat;
	background-size:100% 100%;
	justify-content: space-around;
	font-size:12px;
	margin:16px 4%;
}
.tab_bar{
	margin:0 4% 20px;
	display:flex;
	font-size:14px;
	line-height:36px;
	span{
		flex:1;
		text-align:center;
		margin:0 4%;
		background:url(../images/tab.png) no-repeat;
		background-size:100% 100%;
		color:#c1665f;
		&.select{
			background:url(../images/tab-sel.png) no-repeat;
			background-size:100% 100%;
			color:#fff;
		}
	}

}
.pinlun_content{
	display:none;
}
.m-img{
	img{
		width:100%;
		max-width: 100% !important;
		height: auto !important;
	}
	video{
		width:100%;
		height:auto;
	}
}
footer{
	position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    max-width: 640px;
    text-align: center;
    background:rgba(255, 255, 255, 0.6);
    height: 60px;
    align-items: center;
	.kefu{
	    font-size: 12px;
	    width: 90px;
	    background:url(../images/bird.png) no-repeat;
	    background-size: 90px;
	    text-indent: 27px;
	    padding: 2px 0 8px;
	    color:#c60b19;
	}
	.buy_now{
		flex:1;
		font-size:14px;
		line-height:36px;
		button{
			width:66%;
			height:36px;
			background:url(../images/buy_bg.png) no-repeat;
			background-size:100% 100%;
			color:#fff;
		}

	}
}
.hidden{
	display:none;
}

.header{
	text-align:center;
	height:46px;
	line-height:46px;
	font-size:0;
	.back{
		display:inline-block;
		width:8px;
		height:8px;
		border-bottom:1px solid #222;
		border-left:1px solid #222;
		-webkit-transform:rotate(45deg);
		transform:rotate(45deg);
		position:absolute;
		left:4%;
		top:20px;
	}
	.conirm{
		font-size:16px;
	}
}
.User_notes{padding:2%;text-indent:1rem;line-height:26px;font-size:14px;}
.notes{font-weight: normal;text-align: center;}