<div class="m-hd">
    <div class="m-topBar">
        <a class="goback"></a>
        <div style="width: 100%;"><div class="title">圖文詳情</div></div>
    </div>
</div>
<div class="m-img">
    {{ content|raw }}
    <p style="height: 44px;line-height: 44px;text-align: right;background: #fff;border-top: 1px solid #e5e5e5"><a class="top">TOP</a></p>
</div>