<header>
	<div>
		{% if logo %}<div class="logo"><a href="/{{identity_tag}}"><img src="{{ logo }}"></a></div>{% endif %}
		<div class="right" data-cuckootag="check_order" data-value="{{ identity_tag }}">{{ lang.order_inquiry }}</div>
	</div>
</header>