<footer>
	<div class="article">{% for a in article %}<a href="/article/{{ a.article_id }}">{{ a.title }}</a>{% endfor %}</div>
    <div class="copyright">© 2018 <span>{{ info.title }}</span></div>
</footer>