.ui-panel {
	width: 100%
}

body {
	max-width: 540px;
	width: 100%;
    left: 50% !important;
    margin-left: -270px !important;
	-webkit-font-smoothing: antialiased;
    font-family: sans-serif;
}

@media screen and (max-width:540px) {
	body{
		margin-left: -50vw !important;
	}
}
/* ---------------------------------------
	banner
--------------------------------------- */ 

.ui-slider{
	padding-top:0;
	height:50vw;
	max-height:270px;
}
.bar-nav ~ .content{
	top:2.6rem !important;
}

/* ---------------------------------------
	header
--------------------------------------- */ 

header.bar {
	height: 2.6rem;
	background-color: #363636;
	text-align:center;
}
header.bar > img{
	height:2rem;
	margin-top:0.3rem;
}
header.bar .icon {
	line-height: 1.6rem;
	color: #fff;
}
header.bar .title {
	line-height: 2.6rem;
	color: #fff;
}

/* ---------------------------------------
	sidebar
--------------------------------------- */ 

.panel.panel-left.panel-reveal {
	background-color: #fff;
}
.slidebar {}
.slidebar ul {}
.slidebar ul li {
	width: 100%;
	display: table;
	vertical-align: middle;
}
.slidebar ul li a {
	display: block;
	width: 100%;
	padding-right: 36px;
	vertical-align: middle;
	padding: 12px 10px;
	color: #333333;
	border-bottom: 1px solid #f3f3f3;
}
.slidebar ul li.action a{
	background:rgba(220,220,220,0.1);
}
.child_category{
	font-size:0.65rem;
	display:none;
}
.child_category a{
	padding:10px;
	background:rgba(160,160,160,0.1);
}




body.with-panel-left-reveal .page.page-current {
	
}
body.with-panel-left-reveal .page.page-current:before {
	display: block;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	position: absolute;
	content: " ";
	opacity: .5 !important;
	z-index: 201;
	background: #000 !important;
}


.red {
	color: red
}

a:link {
	color: #222
}

.text-center {
	text-align: center
}

.product-grid {
	position: relative;
	padding: 4px;
	color: #999;
	font-size: 14px;
	overflow: hidden;
	box-sizing: border-box;
	width: 100%;
	padding-top: 100%;
}

.product-grid .product-thumb {
	position: absolute;
	left: 4px;
	top: 4px;
	right: 4px;
	padding-top: 94%;
	background:url("../image/6.gif");
	background-repeat: no-repeat;
	background-size: 50% auto;
	background-position: center;
}

.product-grid .product-thumb img {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
}

.product-grid .product-title {
	color: #222;
	font-size: 12px;
	height: 3em;
	overflow: hidden;
}

.product-grid .product-price {

}

.product-grid .market_price {
	text-decoration: line-through;
}

.product-grid.style2 {
	padding: 0;
	padding-bottom: 12px;
	margin-bottom: 12px;
	border-bottom: 1px solid #f1f1f1
}

.product-grid.style2>img {
	float: left;
	width: 1.2rem
}

.product-grid.style2>div {
	padding-left: 1.3rem
}

.ui-offcanvas {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 300px;
	right: 0;
	z-index: 1;
	overflow-y: hidden;
	background-color: rgba(0,0,0,.3)
}

.ui-offcanvas h1 {
	color: #fff;
	margin-bottom: 30px;
	padding-left: 10px;
	padding-top: 20px;
}

.ui-offcanvas>.boxer {
	width: 300px;
	height: 100%;
	position: relative;
	background: #222;
}

.ui-offcanvas .ui-list {
	background-color: #222;
}

.ui-offcanvas .ui-list li {
	background-color: #222;
	line-height: 45px;
	margin-left: 0;
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 20px;
}

.ui-offcanvas .ui-list li a {
	display: block;
	width: 100%;
	height: 45px;
	color: #fff;
	box-sizing: border-box;
	padding-left: 10px;
}
.ui-offcanvas .ui-list > li > a {
	border-bottom: 1px solid #444;
} 

.ui-offcanvas .ui-list .menu-item-child {
	display: block;
	background-color: #282828;
}

.ui-offcanvas .ui-list .menu-item-child a {
	padding-left: 25px;
	font-weight: normal;
	color: #ddd;
}

.ui-offcanvas .ui-list li a:active {
	background-color: #333
}

#main {
	transition: transform .4s
}

body.offcanvas-in {
	width: 100%;
	height: 100%;
	overflow: hidden
}

body.offcanvas-in #main {
	position: absolute;
	transform: translateX(300px)
}

body.offcanvas-in .ui-offcanvas {
	display: block
}

#main {
	position: relative;
	z-index: 2;
	background-color: #f9f9f9
}

.ui-footer,.ui-header {
	position: relative;
	z-index: 1
}

.ui-header .ui-icon-scan {
	position: absolute;
	left: 0;
}

.ui-header~.ui-container {
	border: none
}


/*-------------------------------------
	footer
-------------------------------------*/

footer.ui-footer {background-color: #f1f1f1; height: auto; font-size: 12px }
footer.ui-footer ul {padding-top: 10px; text-align: left; padding: 10px 20px; }
footer.ui-footer ul li {line-height: 2em; }
footer.ui-footer ul a {color: #999; }
footer .ui-footerul a:hover, footer ul a:active {text-decoration: underline; }


/*-------------------------------------
	column panel
-------------------------------------*/

.common-hd {height: 63px; line-height: 63px; width: 100%; font-size: 20px }
.common-hd>span.ui-arrowlink:before {right: -20px }
.page-index .ui-slider {padding-top: 50% }
.page-index .ui-panel {background-color: #fff; margin-bottom: 10px }


/*-------------------------------------
	page main product
-------------------------------------*/

.page-index .products { padding: 10px 4px; }
.page-index .products .ui-grid-trisect {padding: 0px; margin-bottom: 5px; }


/*-------------------------------------
	pageTop
-------------------------------------*/

.pageTop { position:fixed; bottom:35px; right:15px; z-index:80; width:45px; height:45px; border-radius:22.5px; background-color:rgba(54, 54, 54, 0.4); }
.pageTopLink { display:block; width:45px; height:45px; text-align:center; }
.pageTopLink i { color:#fff; text-shadow:none; }

/*-------------------------------------
	index 分类
-------------------------------------*/

.ui-tag-s-hot{
	padding-top:94%;
}
.ui-grid-halve-img{
	padding:0;
}
ul.ui-grid-halve{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}
ul.ui-grid-halve li{
	float:none;
}