@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/kfolcnqeu92fr1mmsu5fcrc9amp6lq.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/kfomcnqeu92fr1mu72xpktu1kg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/kfolcnqeu92fr1mmwulfcrc9amp6lq.ttf) format('truetype');
}
