.detail{
	padding:0 13px;
	.price{
		font-size:15px;
		del{
			color:#A2A2A2;
			line-height:15px;
		}
		div{
			font-size:30px;
			line-height:52px;
			span.discount{
				font-size:15px;
				color:#fff;
				padding:0 10px;
				background:#44BA54;
			}
		}
	}
}