<header class="">
	<nav class="navbar flexbox" id="header">
	    <span class="glyphicon glyphicon-menu" id="menu"><i class="micon material-icons menu"></i></span>
	    <h1 class="h_logo"><a href="/"><img src="{{ info.logo }}"></a></h1>
	    <span class="glyphicon"><a href="javascript:void(0)"></a></span>
	</nav>
</header>