html{
	background:#f1f1f1;
}
body{
	background:#fff;
	max-width:640px;
	margin:0 auto;
}
input,textarea,select{
	border:none;
	outline:none;
	background:inherit;
}
input[type='radio']{
	width:auto !important;
	height:auto !important;
	opacity:0;
}
button{
	border:none;
	background:none;
}
select{
	-moz-appearance: none;
    -webkit-appearance:none;
            appearance:none;
    background:url(../images/bg.png) no-repeat right -194px;
}
a{
	color:#b4282d;
}
#POP800_PANEL_DIV{
	display:none;
}
.title{
	padding:16px 4%;
	background:#fff;
	.back{
		float:left;
		width:8px;
		height:8px;
		border-left:2px solid #222;
		border-bottom:2px solid #222;
		transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		margin:3px -8px 0 0;
	}
	.conirm{
		width:100%;
		text-align:center;
		font-size:16px;
		line-height:16px;
		color:#282828;
	}
}
.warp{
	padding:2%;
}
.m-goodItem{
	position:relative;
	min-height:110px;
	padding:2%;
	background:#fff;
}
.imgWrap{
	float:left;
	margin-right:-116px;
	img{
		width:100px;
		height:100px;
	}
}
.cnt{
	line-height:22px;
	font-size:12px;
	padding-top:5px;
	span[attrid]{
	    display:block;
	    padding: 0 8px;
	    line-height: 20px;
	    border-radius: 2px;
	    span{
	    	color:#a9a9a9;
	    }
	}
}
.product_numtext{
	display:block;
    padding: 0 8px;
    line-height: 20px;
    border-radius: 2px;
    color:#a9a9a9;
    position:absolute;
    right:2%;
    top:28px;
}
.price{
	line-height:42px;
	.left{
		float:left;
		span{
			font-weight:bold;
			color:#a68a62;
		}
	}
	.kefu{
		float:right;
		padding-left:24px;
		background:url(../images/kefu.png) no-repeat 0 center;
		background-size:18px;
	}
}
.buy-single-row{
	border-bottom:1px solid #ddd;
	&:last-child{
		border:none;
		line-height:40px;
	}
	#province{
		padding-left:6%;
		display:inline-block;
		width:90%;
	}
	input,select,textarea{
		width:100%;
		height:40px;
		text-indent: 2em;
		font-size:14px;
		padding:0 3%;
		line-height:40px;
	}
	select{
		width:90%;
		margin-left:2%;
		text-indent:0;
	}
}
input[name='name']{
	background:url(../images/bg.png) no-repeat 3% 12px;
}
input[name='postal']{
	background:url(../images/bg.png) no-repeat 3% -109px;
}
input[name='mob']{
	background:url(../images/bg.png) no-repeat 3% -18px;
}
input[name='email']{
	background:url(../images/bg.png) no-repeat 3% -46px;
}
input[name='address']{
	background:url(../images/bg.png) no-repeat 3% -80px;
}
.cell label{
	padding-left:24px;
	background:url(../images/bg.png) no-repeat 4px -147px;
}
.cell label.check{
	background:url(../images/bg.png) no-repeat 4px -176px;
}
footer.m-orderFt{
	text-align:center;
}
button.btn{
	background-color:#a68a62;
	color:#fff;
	width:100%;
	height:40px;

}
#city{
    display: inline-block;
    width: 45%;
}
.single{
	position:relative;
	padding: 2%;
    margin: 2% 0;
    border: 1px dashed #a9a9a9;
}
.right{
	float:left;
	margin-left:116px;
}