.pricebox{
	.price{
		text-align:center;
		font-size:15px;
		padding:20px;
		del{
			color:#A2A2A2;
			line-height:15px;
		}
		div{
			color:#4CAF50;
			span{
				font-size:30px;
				line-height:52px;
			}
		}
	}
}