.product_info{
    word-break: break-word;
    padding-bottom:50px;
	.img_tt{
		font-size:15px;
		line-height:37px;
		height:37px;
		border-top:6px solid #659DF2;
		text-indent:32px;
	}
	.m-img{
	    // padding: 10px 46px;
	    img {
	    	max-width: 100% !important;
	    	height: auto !important;
	    }
	}
}