.dt-paramselect{
	font-size:13px;
	.tt{
		text-align:center;
		line-height:30px;
	}
	select{
		margin-bottom:10px;
		width:80%;
		height:36px;
		padding-right:24px;
		appearance:none;
		-moz-appearance:none;
		-webkit-appearance:none;
		background:url(../images/select.png) no-repeat 98% center;
		background-size:12px;
		text-indent:1em;
		border-color:#D5D5D5;
	}
	h5{
		line-height:32px;
	}
}
#form{
	text-align:center;
}
.package{
	text-align:center;
}
.less,.more{
	flex:1;
	height:34px;
	color:#222;
	border:1px solid #D5D5D5;
	line-height:34px;
	text-align:center;
	font-size:28px;
	font-family:monospace;
	vertical-align:middle;
	display:inline-block;
}
.textWrap{
	font-size:12px;
	flex:1;
	line-height:34px;
	height:34px;
	vertical-align:middle;
	display:inline-block;
	border-top:1px solid #D5D5D5;
	border-bottom:1px solid #D5D5D5;
	background:#F4F4F4;
}
.u-fornum{
	font-size:13px;
}
.m-selnum{
	font-size:0;
	display:inline-block;
	display:-webkit-flex;
	display:flex;
	width:80%;
	margin:0 auto;

}
.buy_now{
	text-align:center;
	margin-top:15px;
	button{
		height:52px;
		background:#4CAF50;
		color:#fff;
		width:80%;
		font-size:16px;
	}
}