.detail{
	padding:0 4%;
	.sales{
		padding:8px 0;
		font-weight:bold;
		.price{
			font-size:24px;
			line-height:52px;
			span{
				color:#ff0000;
			}
		}
		.discount{
			display:-webkit-flex;
			align-items:flex-start;
			display:flex;
			font-size:15px;
			height:48px;
			line-height:48px;
			overflow:hidden;
			span.number{
				font-size:20px;
				color:#f00;
			}
			.right{
				margin-left:25px;
				span{
					padding:3px 10px;
					color:#f59f38;
					border:1px solid #f59f38;
					border-radius:3px;
				}
			}
		}
	}
}