.swiper-pagination{
	text-align:right !important;
	.swiper-pagination-bullet{
		border-radius:0 !important;
		width:8px !important;
		height:4px !important;
		margin:0 2px !important;
	}
	.swiper-pagination-bullet-active{
		background:red;
	}
}