.dt-paramselect{
	padding:2%;
	margin-top:4%;
	border-top:1px solid #f1f1f1;
	border-bottom:1px solid #f1f1f1;
}
#comb{
	margin:10px 0;
}
.info-con{
	position:relative;
	min-height:120px;
}
.info-con{
	background:#fff;
	position:relative;
	min-height:120px;
	border-bottom:1px dashed #aaa;
}
label.tab{
	text-align:center;
	display:block;
	font-size: 14px;
    line-height: 38px;
    margin-top: 10px;
    padding:0 4%;
	border-radius:3px;
    border: 1px solid #cdcdcd;
    background-image: linear-gradient(to bottom,#fff,#f2f2f2);
}
label.tab.tab-sel{
	border: 2px solid #4f5870;
	line-height:36px;
	font-weight:bold;
	color:#4f5870;
}
.tc{
	background:#fff;
	padding:2%;
}
.u-format{
	.tt{
		margin-top:10px;
		color: #818181;
		font-weight:bold;
	}
	.con{
		font-size:0;
		background:#fff;
		.tab{
			display:inline-block;
			font-size:13px;
			min-width:40px;
			line-height:30px;
			margin:10px 6px 0 0 ;
			text-align: center;
			img{
				width:60px;
				height:60px;
				padding:3px;
			    border: 1px solid #8d8d8d;
			}
			&.noimg{
				border: 1px solid #cdcdcd;
				padding:0 10px;
		        background-image: linear-gradient(to bottom,#fff,#f2f2f2);
			}
			&:last-child{
				margin-right:0;
			}
		}
		.tab.tab-sel{
		    min-width:38px;
		    line-height:28px;
			&.noimg{
			    border: 2px solid #4f5870;
			    color:#4f5870;
			    border-radius: 3px;
			    font-weight:bold;
			    background-image: linear-gradient(to bottom,#fff,#f2f2f2);
			}
		    img{
		    	padding:2px;
		    	border-width:2px;
		    }
		}
	}
}
.less,.more{
	width:32px;
	height:32px;
	color:#222;
	border:1px solid #eee;
	line-height:32px;
	text-align:center;
	font-size:28px;
	font-family:monospace;
	vertical-align:middle;
	display:inline-block;
}
.textWrap{
	font-size:12px;
	padding:0 16px;
	line-height:32px;
	vertical-align:middle;
	display:inline-block;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}
.u-fornum{
	padding:2%;
	background:#fff;
}
.m-selnum{
	font-size:0;
	display:inline-block;
}