.info-con{
	position:relative;
	min-height:120px;
}
.info-con{
	background:#fff;
	position:relative;
	min-height:120px;
	border-bottom:1px dashed #aaa;
}
label.tab{
	text-align:center;
	display:block;
	font-size: 14px;
    line-height:34px;
    margin-bottom: 10px;
    padding:0 4%;
    border: 1px solid #e1e1e1;
}
label.tab.tab-sel{
	border:1px solid #ee7731;
}
.tc{
	background:#fff;
	padding:2%;
}
.u-format{
	.tt{
		margin-top:10px;
	}
	.con{
		font-size:0;
		background:#fff;
		.tab{
			display:inline-block;
			font-size:13px;
			padding:10px 4px;
			min-width:40px;
			margin:10px 6px 0 0 ;
			text-align: center;
			border: 1px solid #e1e1e1;
			&:last-child{
				margin-right:0;
			}
		}
		.tab.tab-sel{
		    border: 1px solid #ee7731;
		}
	}
}
.m-selnum{
	font-size:0;
	display:inline-block;
}