* {
    margin: 0;
    padding: 0;
    word-break: break-all;
    -webkit-tap-highlight-color: rgba(255,255,0,0.4);
    -webkit-text-size-adjust: none;
    font-style: normal;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    font-family: ArialMT, "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, sans-serif;
}
html,body{
    width: 100%;
    max-width: 540px;
    min-height: 100%;
    margin: auto;
    background: #f1f1f1;
}
#order{
    background: #fff;
}
input[type="radio"] {
    vertical-align: middle
}
.nav-header{
    background: -webkit-gradient(linear, left top, left bottom, from(#AAA), to(#A1A1A1));
    background: -moz-linear-gradient(top, #AAA, #A1A1A1);
    border-bottom: 1px #999 solid;
    font-size: 12px;
    color: #FFF;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    .breadcrumb{
        background: -webkit-gradient(linear, left top, left bottom, from(#AAA), to(#A1A1A1));
        background: -moz-linear-gradient(top, #AAA, #A1A1A1);
        border-bottom: 1px #999 solid;
        font-size: 12px;
        color: #FFF;
        text-shadow: 0 1px 0 rgba(0,0,0,0.3);
        position: relative;
        h2{
            margin: 0;
            color: #fff;
            padding: 5px 40px;
        }
    }
}
.fs12 {
    font-size: 12px !important;
}
.bdxx {
    font-weight: bold;
    font-size: 13px !important;
    margin-bottom: 5px !important;
}
.header-left{
    position: absolute;
    top: 3px;
    left: 10px;
    .glyphicon-menu-left{
        display: block;
        background: url('../images/back.png');
        width: 20px;
        height: 30px;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}
.warp{
    padding: 10px;
}
.inputText, select, textarea{
    font-size: 14px;
    line-height: 18px;
    font-family: inherit;
    font-weight: inherit;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px #666 solid;
}
.subbox{
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.4), inset 0 0 0 rgba(255,255,255,0), 0 0 0 rgba(255,255,255,0);
    font-size: 16px !important;
    letter-spacing: 0;
    padding: 0;
    text-decoration: none !important;
    border-radius: 5px;
    display: block;
    color: #333;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-color: rgba(0,0,0,0.5);
    background: linear-gradient(to bottom, #FC2828 0%,#BD0202 100%);
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    color: #FFF;
    .btn-style{
        padding: 13px 15px;
        line-height: 1.2;
        border: none;
        width: 100%;
        background: transparent;
        color: #fff;
        font-weight: 600;
    }
}
.input-group-btn{
    .btn{
        padding: 5px 10px;
        color: #333;
        font-size: 14px;

    }
}
.numbertext{
    width: 60px;
    height: 33px;
    border: none;
    text-align: center;
}
.text3box{
    color: #F00;
}
.totals{
    border: none;font-size: 16px;
    width: 80px;
    text-align: center;
    color: #F00;
}
.dxbox{
    color: #333;
    font-size: 13px;
}
.attrs{
    float: left;
    margin-right: 8px;
    padding: 5px;
}
.attrs .action{
    border:1px solid #c00;
}
.attrs{
    img{
        display: block;
        max-width: 80px;
        max-height: 80px;
    }
}
div.gpInfoBox {
    margin-top: 5px !important;
    border: 1px #F60 solid;
    background: #FFE;
    padding: 10px;
}